.container {
	padding-left: max(12px, calc((100% - 1208px) / 2));
	padding-right: max(12px, calc((100% - 1208px) / 2));
	color: var(--color-main-text);
}

@media (min-width: 768px) {
	.container {
		padding-left: max(16px, calc((100% - 1208px) / 2));
		padding-right: max(16px, calc((100% - 1208px) / 2));
	}
}

.title {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 1.5rem;
	margin-bottom: 1rem;
}

@media (min-width: 768px) {
	.header {
		margin-bottom: 1.5rem;
	}
}

.article {
	font-size: 0.75rem;
	line-height: 1rem;
}

.ratingSection {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5rem;
	align-items: center;
}

.reviewsCount {
	font-size: 0.875rem;
	line-height: 1.25rem;
	text-decoration: underline;
}

.favoriteButton {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5rem;
	align-items: center;
	cursor: pointer;
	background: none;
	border: none;
	padding: 0;
}

.favoriteIcon {
	user-select: none;
	width: 1.5rem;
	height: 1.5rem;
}

.favoriteText {
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 6.25rem;
}

@media (min-width: 768px) {
	.content {
		gap: 5rem;
	}
}

@media (min-width: 1280px) {
	.content {
		gap: 7.5rem;
	}
}

.mainContent {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	width: 100%;
	justify-content: center;
}

@media (min-width: 768px) {
	.mainContent {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.sidebar {
	width: 100%;
}

@media (min-width: 768px) {
	.sidebar {
		width: 344px;
	}
}

@media (min-width: 1024px) {
	.sidebar {
		width: 376px;
	}
}

.sidebar {
	display: flex;
	flex-direction: column;
}

.reviewsSection {
	margin-top: 1rem;
}

.reviewsTitle {
	font-size: 1.5rem;
	line-height: 2rem;
	text-align: left;
	font-weight: bold;
	color: var(--color-main-text);
	margin-bottom: 1rem;
}

@media (min-width: 768px) {
	.reviewsTitle {
		margin-bottom: 2rem;
	}
}

@media (min-width: 1280px) {
	.reviewsTitle {
		font-size: 2.25rem;
		line-height: 2.5rem;
		margin-bottom: 2.5rem;
	}
}

.reviewsContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 1rem;
}

@media (min-width: 768px) {
	.reviewsContainer {
		flex-direction: row;
		gap: 2rem;
	}
}

@media (min-width: 1280px) {
	.reviewsContainer {
		gap: 9rem;
	}
}
