.skeleton {
	height: 2rem;
	background-color: var(--color-border-light);
	border-radius: 0.25rem;
	animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}
