.loader {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.75rem;
}

.loaderContainer {
	position: relative;
	width: 3rem;
	height: 3rem;
}

.loaderRing1 {
	width: 100%;
	height: 100%;
	border: 4px solid #f97316;
	border-top: 4px solid transparent;
	border-radius: 50%;
	animation: spin 1s linear infinite;
	position: absolute;
}

.loaderRing2 {
	width: 100%;
	height: 100%;
	border: 4px solid #f97316;
	border-bottom: 4px solid transparent;
	border-radius: 50%;
	animation: spinReverse 1s linear infinite;
	position: absolute;
}

.loaderText {
	color: var(--color-primary);
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes spinReverse {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
