.searchResults {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	color: var(--color-main-text);
}

.categoryGroup {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.categoryLink {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
	padding: 0.25rem;
	border-radius: 0.25rem;
	cursor: pointer;
}

.categoryLink:hover {
	background-color: #f3f4f6;
}

.categoryIcon {
	flex-shrink: 0;
}

.productsList {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.productItem {
	padding: 0.25rem;
}

.productItem:hover {
	background-color: #f3f4f6;
}

.productLink {
	cursor: pointer;
}

.noResults {
	color: var(--color-text-placeholder);
	padding: 0.5rem 1rem;
}

.enterText {
	color: var(--color-text-placeholder);
	padding: 1rem;
}
