.container {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	font-size: 0.75rem;
	line-height: 1rem;
	color: #4b5563;
}

.rowOdd {
	display: flex;
	justify-content: space-between;
	background-color: #f3f2f1;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.rowEven {
	display: flex;
	justify-content: space-between;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.label {
	font-weight: 500;
}
