.container {
	position: relative;
}

.formButton {
	margin-bottom: 0.5rem;
	height: 2.5rem;
	width: 100%;
	background-color: var(--color-accent);
	color: var(--color-bg-white);
	font-size: 1rem;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.25rem;
	cursor: pointer;
	transition-duration: 300ms;
	position: relative;
	border: none;
}

.formButton:hover {
	box-shadow: var(--shadow-article);
}

.formButton:active {
	box-shadow: var(--shadow-button-active);
}

.formButton:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

@media (min-width: 768px) {
	.formButton {
		height: 3.75rem;
		font-size: 1.5rem;
	}
}

.cartIcon {
	position: absolute;
	left: 1rem;
}

.buttonText {
	text-align: center;
}
