.button {
	margin-bottom: 0.5rem;
	height: 2.5rem;
	width: 100%;
	background-color: #ff6633;
	color: white;
	font-size: 1rem;
	line-height: 1.5rem;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.375rem;
	cursor: pointer;
	position: relative;
	transition-duration: 300ms;
	border: none;
}

.button:hover {
	box-shadow:
		0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.button:active {
	box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

@media (min-width: 768px) {
	.button {
		height: 3.75rem;
		font-size: 1.5rem;
		line-height: 2rem;
	}
}

.icon {
	position: absolute;
	left: 1rem;
}

.text {
	text-align: center;
}
