.modal {
	background-color: white;
	border-radius: 0.5rem;
	padding: 1.5rem;
	width: 100%;
	max-width: 28rem;
}

.title {
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.input {
	padding: 0.5rem;
	border-radius: 0.25rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	position: relative;
	border: 1px solid var(--color-primary);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	outline: 0;
	width: 100%;
}

.input:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.inputError {
	border-color: #d80000;
}

.errorText {
	color: #d80000;
	font-size: 0.75rem;
	line-height: 1rem;
	margin-top: 0.25rem;
}

.buttons {
	display: flex;
	gap: 0.5rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.submitButton {
	flex: 1;
	display: flex;
	justify-content: center;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: white;
	border-radius: 0.25rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	background-color: var(--color-primary-color);
	border: none;
	cursor: pointer;
	transition-duration: 300ms;
}

.submitButton:hover:not(:disabled) {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submitButton:active:not(:disabled) {
	box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.submitButton:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.cancelButton {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
	transition-duration: 300ms;
	background-color: #f3f2f1;
}

.cancelButton:hover:not(:disabled) {
	box-shadow:
		0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.cancelButton:active:not(:disabled) {
	box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.cancelButton:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
