.productsSection {
	display: flex;
	flex-direction: column;
}

.compact {
	padding-left: max(12px, calc((100% - 1208px) / 2));
	padding-right: max(12px, calc((100% - 1208px) / 2));
}

.margin {
	margin-top: 5rem;
}

.productsHeader {
	margin-bottom: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.productsTitle {
	font-size: 1.5rem;
	text-align: left;
	font-weight: 700;
	color: #414141;
}

.productsGrid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	justify-items: center;
}

.hiddenItem {
	display: none;
}

@media (min-width: 768px) {
	.productsHeader {
		margin-bottom: 2rem;
	}

	.productsGrid {
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
	}

	.mdHidden {
		display: none;
	}
}

@media (min-width: 1280px) {
	.productsHeader {
		margin-bottom: 2.5rem;
	}

	.productsTitle {
		font-size: 2.25rem;
	}

	.productsGrid {
		grid-template-columns: repeat(4, 1fr);
		gap: 2.5rem;
	}

	.xlBlock {
		display: block;
	}

	.xlHidden {
		display: none;
	}
}
