.productsSection {
	display: flex;
	flex-direction: column;
	padding-left: max(calc((100% - 1208px) / 2));
	padding-right: max(calc((100% - 1208px) / 2));
}

.productsHeader {
	margin-bottom: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.productsTitle {
	font-size: 1.5rem;
	text-align: left;
	font-weight: 700;
	color: var(--color-main-text);
}

.productsGrid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	justify-items: center;
}

.productsGridCategory {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
}

.noProducts {
	text-align: center;
	padding: 2rem;
	color: var(--color-text-secondary);
}

.hiddenMdBlock {
	display: none;
}

.mdHiddenXlBlock {
	display: block;
}

.xlHidden {
	display: block;
}

@media (min-width: 768px) {
	.productsSection {
		padding-left: max(calc((100% - 1208px) / 2));
		padding-right: max(calc((100% - 1208px) / 2));
	}
	.productsHeader {
		margin-bottom: 2rem;
	}

	.productsGrid {
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
	}

	.productsGridCategory {
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
	}

	.hiddenMdBlock {
		display: block;
	}

	.mdHiddenXlBlock {
		display: none;
	}

	.xlHidden {
		display: block;
	}
}

@media (min-width: 1280px) {
	.productsSection {
		padding-left: max(calc((100% - 1208px) / 2));
		padding-right: max(calc((100% - 1208px) / 2));
	}

	.productsHeader {
		margin-bottom: 2.5rem;
	}

	.productsTitle {
		font-size: 2.25rem;
	}

	.productsGrid {
		grid-template-columns: repeat(4, 1fr);
		gap: 2.5rem;
	}

	.mdHiddenXlBlock {
		display: block;
	}

	.xlHidden {
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 1279px) {
	.productsGrid > :nth-child(4) {
		display: none;
	}
}
