.container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icon {
	width: 3rem;
	height: 3rem;
	color: var(--color-primary);
	margin-bottom: 1rem;
}

.title {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}

.description {
	text-align: center;
	color: #374151;
	line-height: 1.5;
}

.error {
	padding: 0.75rem;
	background-color: #fef2f2;
	color: #dc2626;
	border-radius: 4px;
	font-size: 0.875rem;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 0 auto;
}

.label {
	font-size: 1rem;
	color: var(--color-text-placeholder);
	display: block;
}

.input {
	width: 260px;
	height: 2.5rem;
	padding: 0.5rem 1rem;
	color: var(--color-main-text);
	font-size: 1rem;
	border: 1px solid var(--color-border-input);
	border-radius: 4px;
	caret-color: var(--color-primary);
}

.input:focus {
	border-color: var(--color-primary);
	box-shadow: var(--shadow-button-default);
	background-color: var(--color-bg-white);
	outline: none;
}

.button {
	width: 100%;
	height: 2.5rem;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.2s;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	font-size: 1rem;
}

.buttonActive {
	background-color: var(--color-accent);
	color: var(--color-bg-white);
	border: none;
}

.buttonActive:hover {
	box-shadow: var(--shadow-article);
}

.buttonActive:active {
	box-shadow: var(--shadow-button-active);
}

.buttonInactive {
	background-color: var(--color-warning-bg);
	color: var(--color-accent);
	cursor: not-allowed;
}

.loader {
	animation: spin 1s linear infinite;
	width: 1rem;
	height: 1rem;
}

.buttonIcon {
	width: 1rem;
	height: 1rem;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
