.container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icon {
	width: 3rem;
	height: 3rem;
	color: var(--color-primary);
	margin-bottom: 1rem;
}

.title {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}

.description {
	text-align: center;
	color: #374151;
	line-height: 1.5;
}

.phoneNumber {
	color: #ff6633;
	font-weight: 500;
}

.error {
	padding: 0.75rem;
	background-color: #fef2f2;
	color: #dc2626;
	border-radius: 4px;
	font-size: 0.875rem;
	text-align: center;
}

.loginButton {
	color: var(--color-primary);
	text-decoration: underline;
	font-size: 0.875rem;
	margin: 0 auto;
	cursor: pointer;
	background: none;
	border: none;
}

.loginButton:hover {
	text-decoration: underline;
}

.backButton {
	color: var(--color-primary);
	text-decoration: underline;
	font-size: 0.875rem;
	margin: 0 auto;
	cursor: pointer;
	background: none;
	border: none;
	text-decoration: none;
}

.backButton:hover {
	text-decoration: underline;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
}

.otpSection {
	text-align: center;
}

.otpLabel {
	text-align: center;
	color: #8f8f8f;
	margin-bottom: 0.5rem;
}

.otpInput {
	display: flex;
	justify-content: center;
	width: 110px;
	height: 60px;
	margin: 0 auto;
	text-align: center;
	padding: 0.75rem 1rem;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	font-size: 1rem;
}

.otpInput:focus {
	border-color: var(--color-primary);
	box-shadow: var(--shadow-button-default);
	background-color: white;
	outline: none;
}

.formRow {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 1rem 2rem;
	position: relative;
}

.passwordGroup {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}

.buttonContainer {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.button {
	border-radius: 4px;
	width: 100%;
	max-width: 260px;
	height: 2.5rem;
	padding: 0 1rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	margin: 0 auto;
	transition: all 0.2s;
	font-size: 1rem;
	border: none;
}

.buttonActive {
	background-color: #ff6633;
	color: white;
}

.buttonActive:hover {
	box-shadow: var(--shadow-article);
}

.buttonActive:active {
	box-shadow: var(--shadow-button-active);
}

.buttonInactive {
	background-color: #fcd5ba;
	color: #ff6633;
	cursor: not-allowed;
}

.loader {
	animation: spin 1s linear infinite;
	width: 1rem;
	height: 1rem;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
