.container {
	max-width: 28rem;
	margin: 2.5rem auto 0;
	padding: 1.5rem;
	text-align: center;
}

.icon {
	width: 4rem;
	height: 4rem;
	color: var(--color-primary);
	margin: 0 auto 1rem;
}

.title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
	color: var(--color-primary);
}

.description {
	color: #4b5563;
}
