.button {
	position: absolute;
	border: 1px solid var(--color-primary);
	bottom: 0.5rem;
	left: 0.5rem;
	right: 0.5rem;
	height: 2.5rem;
	border-radius: 0.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-duration: 300ms;
	user-select: none;
}

.buttonAvailable {
	color: var(--color-primary);
	background-color: transparent;
	cursor: pointer;
}

.buttonAvailable:hover {
	color: var(--color-bg-white);
	background-color: var(--color-accent);
	border-color: transparent;
}

.buttonAvailable:active {
	box-shadow: var(--shadow-button-active);
}

.buttonUnavailable {
	background-color: var(--color-border-default);
	color: var(--color-text-secondary);
	border-color: var(--color-border-default);
	cursor: not-allowed;
}

.quantityContainer {
	position: absolute;
	display: flex;
	justify-content: center;
	bottom: 0.5rem;
	left: 0.5rem;
	right: 0.5rem;
}
