.searchPage {
	padding-left: max(12px, calc((100% - 1208px) / 2));
	padding-right: max(12px, calc((100% - 1208px) / 2));
	color: var(--color-main-text);
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.searchTitle {
	font-size: 1.5rem;
	text-align: left;
	font-weight: 700;
	margin-bottom: 1.5rem;
}

.searchQuery {
	font-size: 0.875rem;
	margin-bottom: 1.5rem;
}

.highlightedQuery {
	color: var(--color-accent);
}

.noResults {
	font-size: 1.125rem;
}

@media (min-width: 768px) {
	.searchQuery {
		font-size: 1rem;
	}
}

@media (min-width: 1280px) {
	.searchTitle {
		font-size: 2.25rem;
	}

	.searchQuery {
		font-size: 1.5rem;
	}
}
