.filterControls {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 1rem;
}

.filterButton {
	height: 2rem;
	padding: 0.5rem;
	border-radius: 0.25rem;
	font-size: 0.75rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-duration: 300ms;
	gap: 0.5rem;
}

.filterButtonInactive {
	background-color: #f3f2f1;
	color: #606060;
	cursor: not-allowed;
}

.filterButtonActive {
	background-color: var(--color-primary);
	color: #ffffff;
}

.priceFilterButton {
	height: 2rem;
	padding: 0.5rem;
	border-radius: 0.25rem;
	font-size: 0.75rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-duration: 300ms;
	gap: 0.5rem;
	background-color: var(--color-primary);
	color: #ffffff;
}

.clearFilterLink {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	text-decoration: none;
	color: inherit;
}

.clearFilterLink:hover,
.clearFilterLink:focus,
.clearFilterLink:active {
	text-decoration: none;
	color: inherit;
	outline: none;
}

.filterIcon {
	filter: brightness(0) invert(1);
}
