.categoryPage {
	padding-left: max(12px, calc((100% - 1208px) / 2));
	padding-right: max(12px, calc((100% - 1208px) / 2));
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
}

.categoryTitle {
	margin-left: 0.75rem;
	font-size: 2.25rem;
	text-align: left;
	font-weight: 700;
	color: var(--color-main-text);
	margin-bottom: 2rem;
	max-width: 336px;
	line-height: 150%;
}

.filterButtonsDesktop {
	display: none;
}

.categoryContent {
	display: flex;
	flex-direction: row;
	gap: 2.5rem;
	justify-content: space-between;
}

.filtersSidebar {
	display: none;
	flex-direction: column;
	width: 272px;
	gap: 2.5rem;
}

.filterHeader {
	height: 2.75rem;
	background-color: var(--color-bg-gray);
	border-radius: 0.25rem;
	font-size: 1rem;
	font-weight: 700;
	color: var(--color-main-text);
	display: flex;
	align-items: center;
	padding: 0.625rem;
}

.productsContent {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.filterControlsDesktop {
	display: none;
}

@media (min-width: 768px) {
	.categoryTitle {
		margin-bottom: 2.5rem;
		font-size: 3rem;
	}
}

@media (min-width: 1280px) {
	.categoryTitle {
		margin-left: 0;
		margin-bottom: 3.75rem;
		font-size: 3rem;
		max-width: none;
	}

	.filterButtonsDesktop {
		display: flex;
	}

	.filtersSidebar {
		display: flex;
	}

	.filterControlsDesktop {
		display: flex;
	}
}
