.editButton {
	width: 100%;
	padding: 0.5rem 1rem;
	border-radius: 0.375rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.75rem;
	font-weight: 500;
	cursor: pointer;
	transition-duration: 300ms;
	background-color: var(--color-accent);
	color: var(--color-bg-white);
	border: none;
}

.editButton:hover {
	box-shadow: var(--shadow-article);
}

.editButton:active {
	box-shadow: var(--shadow-button-active);
}

.editIcon {
	height: 1rem;
	width: 1rem;
	margin-right: 0.25rem;
}

@media (min-width: 768px) {
	.editButton {
		width: auto;
	}
}
