.verifyContainer {
	margin-top: 1rem;
	padding: 1rem;
	background-color: var(--color-success-bg);
	border-radius: 0.25rem;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.75rem;
}

.headerText {
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: var(--color-primary);
	font-weight: 500;
}

.inputRow {
	display: flex;
	flex-direction: row;
	gap: 0.75rem;
	justify-content: center;
}

.codeInput {
	width: 110px;
	height: 2.5rem;
	padding: 0.5rem 1rem;
	text-align: center;
	color: var(--color-main-text);
	font-size: 1rem;
	border: 1px solid var(--color-border-input);
	border-radius: 0.25rem;
	background-color: var(--color-bg-white);
	caret-color: var(--color-primary);
}

.codeInput:focus {
	border-color: var(--color-primary);
	box-shadow: var(--shadow-button-default);
	background-color: var(--color-bg-white);
	outline: none;
}

.verifyButton {
	padding: 0.5rem 1rem;
	height: 2.5rem;
	background-color: var(--color-primary);
	color: var(--color-bg-white);
	border-radius: 0.25rem;
	cursor: pointer;
}

.verifyButton:disabled {
	background-color: var(--color-text-secondary);
	cursor: not-allowed;
}

.resendButton {
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	transition-property:
		color, background-color, border-color, text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
	cursor: pointer;
}

.resendButtonActive {
	background-color: var(--color-primary);
	color: var(--color-bg-white);
}

.resendButtonInactive {
	background-color: var(--color-bg-light);
	color: #606060;
}

.saveButton {
	padding: 0.5rem 1rem;
	flex: 1;
	background-color: var(--color-primary);
	border-radius: 0.25rem;
	color: var(--color-bg-white);
	transition-duration: 300ms;
	cursor: pointer;
}

.saveButton:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.saveButton:hover:not(:disabled) {
	box-shadow: var(--shadow-button-default);
}

.saveButton:active:not(:disabled) {
	box-shadow: var(--shadow-button-active);
}

.resendButtonActive:hover:not(:disabled) {
	box-shadow: var(--shadow-button-default);
}

.resendButtonActive:active:not(:disabled) {
	box-shadow: var(--shadow-button-active);
}

@media (min-width: 768px) {
	.saveButton {
		flex: none;
	}
}
