.inputContainer {
	position: relative;
}

.phoneInput {
	width: 100%;
	height: 2.5rem;
	padding: 0.5rem 1rem;
	color: #414141;
	font-size: 1rem;
	border: 1px solid #bfbfbf;
	border-radius: 0.25rem;
	caret-color: var(--color-primary);
}

.phoneInput:focus {
	border-color: #70c05b;
	box-shadow: var(--shadow-button-default);
	background-color: white;
	outline: none;
}

.phoneInput:disabled {
	cursor: not-allowed;
	background-color: #f3f2f1;
}

.phoneIcon {
	position: absolute;
	right: 0.75rem;
	top: 50%;
	transform: translateY(-50%);
	height: 1.25rem;
	width: 1.25rem;
	color: #9ca3af;
}
