.container {
	display: flex;
	justify-content: center;
	margin-top: 2.5rem;
}

.toggleButton {
	background-color: var(--color-bg-light);
	width: 12.5rem;
	height: 2.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	border-radius: 0.25rem;
	cursor: pointer;
	transition-duration: 300ms;
	border: none;
}

.toggleButton:hover {
	box-shadow: var(--shadow-button-secondary);
}
