.addressContainer {
	margin-bottom: 1rem;
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.75rem;
}

@media (min-width: 1024px) {
	.addressContainer {
		grid-template-columns: auto 1fr;
		gap: 1.5rem;
	}
}

.addressLabel {
	color: var(--color-main-text);
	font-size: 0.875rem;
}

@media (min-width: 1024px) {
	.addressLabel {
		font-size: 1rem;
	}
}

.address {
	font-weight: 500;
	font-size: 0.875rem;
	word-break: break-word;
}

@media (min-width: 1024px) {
	.address {
		font-size: 1rem;
	}
}

.detailsContainer {
	margin-top: 1rem;
	padding-top: 1rem;
	border-top: 1px solid var(--color-border-light);
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	font-size: 0.875rem;
}

@media (min-width: 1024px) {
	.detailsContainer {
		font-size: 1rem;
	}
}

.detailRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.detailLabel {
	color: var(--color-main-text);
}

.detailValue {
	font-weight: 500;
}

.discount {
	color: var(--color-error);
}

.bonusesEarned {
	color: var(--color-success);
}
