.container {
	margin-bottom: 2rem;
}

.ordersList {
	display: flex;
	flex-direction: column;
	row-gap: 0rem;
}

.loadMoreContainer {
	display: flex;
	justify-content: center;
	margin-top: 3.75rem;
}

.loadMoreButton {
	background-color: var(--color-bg-light);
	color: var(--color-main-text);
	width: 12.5rem;
	height: 2.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	border-radius: 0.25rem;
	cursor: pointer;
	transition-duration: 300ms;
	border: none;
}

.loadMoreButton:hover {
	box-shadow: var(--shadow-button-secondary);
}

@media (min-width: 768px) {
	.ordersList {
		row-gap: 7.5rem;
	}
}
