.articles {
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #414141;
}

.articlesContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.articlesHeader {
	margin-bottom: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.articlesTitle {
	font-size: 1.5rem;
	text-align: left;
	font-weight: 700;
}

.viewArticlesLink {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
	text-decoration: none;
}

.viewArticlesText {
	font-size: 1rem;
	text-align: center;
	color: #606060;
	transition-duration: 300ms;
	text-decoration: none;
}

.viewArticlesText:hover {
	color: #bfbfbf;
}

.articlesGrid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 1.5rem;
}

.articleItem {
	height: 18.75rem;
}

.articleCard {
	background-color: #ffffff;
	height: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 0.25rem;
	overflow: hidden;
	box-shadow: var(--shadow-card);
	transition-duration: 300ms;
}

.articleCard:hover {
	box-shadow: var(--shadow-article);
}

.articleImageContainer {
	position: relative;
	height: 12rem;
	width: 100%;
}

.articleImage {
	object-fit: cover;
}

.articleContent {
	padding: 0.625rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
	line-height: 1.5;
}

.articleDate {
	font-size: 0.5rem;
	color: #8f8f8f;
}

.articleTitle {
	color: #414141;
	font-size: 1rem;
	font-weight: 700;
}

.articleText {
	color: #414141;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-size: 0.75rem;
}

.readMoreButton {
	border-radius: 0.25rem;
	margin-top: auto;
	width: 9.375rem;
	height: 2.5rem;
	background-color: #e5ffde;
	font-size: 1rem;
	color: #70c05b;
	transition-duration: 300ms;
	cursor: pointer;
	border: none;
}

.readMoreButton:hover {
	background-color: var(--color-primary);
	box-shadow: var(--shadow-button-default);
	color: #ffffff;
}

.readMoreButton:active {
	box-shadow: var(--shadow-button-active);
}

@media (min-width: 640px) {
	.articlesGrid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 768px) {
	.articlesHeader {
		margin-bottom: 2rem;
	}

	.articleItem {
		height: 26.25rem;
	}
}

@media (min-width: 1024px) {
	.articlesGrid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1280px) {
	.articlesContainer {
		max-width: 1208px;
	}

	.articlesHeader {
		margin-bottom: 2.5rem;
	}

	.articlesTitle {
		font-size: 2.25rem;
	}

	.articleTitle {
		font-size: 1.125rem;
	}

	.articleText {
		font-size: 1rem;
	}
}
