.catalogGrid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

.categoryItem {
	background-color: #f3f4f6;
	border-radius: 0.25rem;
	overflow: hidden;
	min-height: 12.5rem;
	height: 100%;
}

.categoryItemEditing {
	border: 4px dashed var(--color-text-muted);
}

.categoryItemHovered {
	border: 3px solid #991b1b;
}

.categoryContent {
	height: 100%;
	width: 100%;
}

.categoryContentDragging {
	opacity: 0.5;
}

.colSpan2 {
	grid-column: span 2 / span 2;
}

.mobileColSpan2 {
	grid-column: span 2 / span 2;
}

@media (min-width: 768px) {
	.catalogGrid {
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
	}

	.tabletColSpan1 {
		grid-column: span 1 / span 1;
	}

	.tabletColSpan2 {
		grid-column: span 2 / span 2;
	}
}

@media (min-width: 1280px) {
	.catalogGrid {
		grid-template-columns: repeat(4, 1fr);
		gap: 2rem;
	}

	.desktopColSpan2 {
		grid-column: span 2 / span 2;
	}
}
