.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

@media (min-width: 768px) {
	.grid {
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
	}
}

@media (min-width: 1280px) {
	.grid {
		grid-template-columns: repeat(4, 1fr);
		gap: 2rem;
	}
}

.categoryItem {
	background-color: var(--color-bg-light);
	border-radius: 0.5rem;
	overflow: hidden;
	min-height: 12.5rem;
	height: 100%;
}

.categoryItemEditing {
	border: 4px dashed var(--color-text-muted);
}

.categoryItemHovered {
	border: 3px solid var(--color-error);
}

.categoryContent {
	height: 100%;
	width: 100%;
}

.categoryContentDragged {
	opacity: 0.5;
}
