.categoryLink {
	display: block;
	position: relative;
	height: 100%;
	overflow: hidden;
	min-width: 10rem;
}

.categoryImage {
	object-fit: cover;
	transition: transform 0.3s;
}

.categoryLink:hover .categoryImage {
	transform: scale(1.05);
}

.categoryOverlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(
		180deg,
		rgba(112, 192, 91, 0) 0%,
		rgba(112, 192, 91, 0.82) 82.813%
	);
	height: 117px;
	top: auto;
	transition: all 300ms;
}

.categoryCard:hover .categoryOverlay {
	background: linear-gradient(
		180deg,
		rgba(255, 102, 51, 0) 0%,
		rgba(255, 102, 51, 1) 100%
	);
	height: 177px;
}

.categoryTitle {
	position: absolute;
	left: 0.625rem;
	bottom: 0.625rem;
	display: flex;
	align-items: center;
}

.categoryText {
	color: #ffffff;
	font-size: 1.125rem;
	font-weight: 700;
}

@media (min-width: 768px) {
	.categoryLink {
		min-width: 224px;
	}
}

@media (min-width: 1280px) {
	.categoryLink {
		min-width: 274px;
	}
}
