.categoryBlock {
	display: block;
	position: relative;
	height: 100%;
	overflow: hidden;
	min-width: 10rem;
}

.categoryImage {
	object-fit: cover;
	transition: transform 0.3s;
}

.categoryBlock:hover .categoryImage {
	transform: scale(1.05);
}

.gradientOverlay {
	position: absolute;
	inset: 0;
	background: linear-gradient(
		180deg,
		rgba(112, 192, 91, 0) 0%,
		rgba(112, 192, 91, 0.82) 82.813%
	);
	height: 117px;
	top: auto;
	transition: all 0.3s;
}

.categoryBlock:hover .gradientOverlay {
	background: linear-gradient(
		180deg,
		rgba(255, 102, 51, 0) 0%,
		rgba(255, 102, 51, 1) 100%
	);
	height: 177px;
}

.categoryTitle {
	position: absolute;
	left: 0.625rem;
	right: 0.625rem;
	bottom: 0.625rem;
	display: flex;
	align-items: center;
}

.categoryText {
	color: var(--color-bg-white);
	font-size: 1.125rem;
	font-weight: 700;
	word-break: break-word;
	white-space: normal;
	max-width: calc(100% - 10px);
}

@media (min-width: 768px) {
	.categoryBlock {
		min-width: 224px;
	}
}

@media (min-width: 1280px) {
	.categoryBlock {
		min-width: 274px;
	}
}
