.container {
	display: flex;
	flex-direction: column;
}

.orderHeader {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	color: var(--color-main-text);
	gap: 0 5rem;
}

.orderInfo {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.orderNumber {
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 700;
}

.userInfo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.userName {
	font-size: 1rem;
	line-height: 1.5rem;
}

.contactInfo {
	display: flex;
	flex-wrap: wrap;
	gap: 1.25rem;
	align-items: center;
}

.phoneContainer {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.phoneNumber {
	text-decoration: underline;
}

.viewButton {
	background-color: var(--color-bg-light);
	width: 12.5rem;
	height: 2.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	border-radius: 0.25rem;
	transition-duration: 300ms;
	cursor: pointer;
	border: none;
}

.viewButton:hover {
	box-shadow: var(--shadow-button-secondary);
}

.iconButton {
	position: relative;
	background-color: var(--color-bg-light);
	width: 2.5rem;
	height: 2.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	border-radius: 0.25rem;
	transition-duration: 300ms;
	cursor: pointer;
	border: none;
}

.iconButton:hover {
	box-shadow: var(--shadow-button-secondary);
}

.bottomButton {
	display: flex;
	justify-content: center;
	margin-top: 2.5rem;
	border: none;
}

.bottomButtonContent {
	background-color: var(--color-bg-light);
	color: var(--color-main-text);
	width: 15rem;
	height: 2.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	border-radius: 0.25rem;
	transition-duration: 300ms;
	cursor: pointer;
	border: none;
}

.bottomButtonContent:hover {
	box-shadow: var(--shadow-button-secondary);
}

.activeButton {
	background-color: var(--color-accent);
	color: var(--color-bg-white);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.25rem;
	cursor: pointer;
	transition-duration: 300ms;
}

.activeButton:hover {
	box-shadow: var(--shadow-button-secondary);
}

.activeButton:active {
	box-shadow: var(--shadow-button-active);
}

@media (min-width: 768px) {
	.orderNumber {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}

	.userName {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}
}

@media (min-width: 1280px) {
	.orderNumber {
		font-size: 1.5rem;
		line-height: 2rem;
	}

	.userName {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}
}
