.container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 0.75rem;
	position: relative;
	margin-bottom: 3.75rem;
}

.calendarButton {
	position: relative;
	transition: opacity 0.3s;
	border-radius: 0.25rem;
	width: 3.75rem;
	height: 3.75rem;
	background-color: var(--color-bg-light);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: none;
}

.calendarButton:hover {
	opacity: 0.7;
}

.dateText {
	position: absolute;
	top: 0;
	font-size: 0.75rem;
	line-height: 1rem;
	color: var(--color-main-text);
}
