.overlay {
	position: fixed;
	inset: 0;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(252, 213, 186, 0.8);
	min-height: 100vh;
	color: var(--color-main-text);
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

.modal {
	max-width: 37.5rem;
	width: 100%;
	position: relative;
	background-color: var(--color-bg-white);
	border-radius: 0.25rem;
	box-shadow: var(--shadow-default);
	max-height: calc(100vh - 80px);
	display: flex;
	flex-direction: column;
	padding-left: 6.25rem;
	padding-right: 6.25rem;
	padding-bottom: 3.75rem;
}

.closeButton {
	background-color: var(--color-bg-light);
	border-radius: 0.25rem;
	width: 2.5rem;
	height: 2.5rem;
	margin-bottom: 2rem;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-duration: 300ms;
	cursor: pointer;
	border: none;
	background: none;
}

.title {
	text-align: center;
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 700;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: 4.5rem;
	margin-bottom: 2rem;
}

.messagesContainer {
	flex: 1;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.messageHeader {
	display: flex;
	align-items: baseline;
	gap: 0.5rem;
	margin-bottom: 0.25rem;
	flex-wrap: wrap;
	color: var(--color-text-placeholder);
}

.messageContent {
	border: 1px solid var(--color-border-input);
	border-radius: 0.25rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.form {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.formContainer {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.textarea {
	flex: 1;
	border: 1px solid var(--color-border-input);
	border-radius: 0.25rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	height: 6.375rem;
	outline: none;
	caret-color: var(--color-primary);
	resize: none;
}

.textarea:focus {
	border-color: var(--color-primary);
	box-shadow: var(--shadow-button-default);
}

.submitButton {
	background-color: var(--color-warning-bg);
	color: var(--color-accent);
	font-size: 1.5rem;
	line-height: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	height: 4.25rem;
	border-radius: 0.25rem;
	transition-duration: 300ms;
	cursor: pointer;
	border: none;
}

.submitButton:hover:not(:disabled) {
	background-color: var(--color-accent);
	color: var(--color-bg-white);
}

.submitButton:disabled {
	cursor: not-allowed;
}
