.container {
	display: flex;
	flex-direction: column;
	gap: 7.5rem;
}

.empty {
	min-height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-text-secondary);
	font-size: 1.125rem;
}
