.avatar {
	border-radius: 9999px;
	object-fit: cover;
	min-width: 2.5rem;
	min-height: 2.5rem;
}

.fallback {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 9999px;
	background-color: var(--color-border-default);
	display: flex;
	align-items: center;
	justify-content: center;
}

.spinner {
	width: 1rem;
	height: 1rem;
	border-width: 2px;
	border-color: var(--color-bg-white);
	border-top-color: transparent;
	border-radius: 9999px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
