.headerContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.5rem;
	color: var(--color-main-text);
}

@media (min-width: 768px) {
	.headerContainer {
		flex-direction: row;
	}
}

.backLink {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	text-decoration: none;
	color: inherit;
}

.backLink:hover {
	text-decoration: underline;
}

.addButton {
	background-color: var(--color-primary);
	border-radius: 0.25rem;
	color: #ffffff;
	cursor: pointer;
	transition-duration: 300ms;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
}

.addButton:hover {
	box-shadow: var(--shadow-button-default);
}

.addButton:active {
	box-shadow: var(--shadow-button-active);
}

.title {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 1.5rem;
}
