.container {
	margin-bottom: 1.5rem;
}

.inputWrapper {
	display: flex;
	gap: 0.75rem;
}

.inputContainer {
	position: relative;
	flex: 1;
}

.searchIcon {
	position: absolute;
	left: 0.75rem;
	top: 50%;
	transform: translateY(-50%);
	color: var(--color-bg-dark);
}

.input {
	width: 100%;
	padding-left: 2.5rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-radius: 0.25rem;
	outline: none;
	border-width: 1px;
	border-color: var(--color-primary);
	background-color: var(--color-bg-white);
	transition-duration: 300ms;
}

.input:focus {
	box-shadow: var(--shadow-button-default);
}

.searchButton {
	background-color: var(--color-primary);
	border-radius: 0.25rem;
	color: var(--color-bg-white);
	transition-duration: 300ms;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.searchButton:hover {
	box-shadow: var(--shadow-button-default);
}

.searchButton:active {
	box-shadow: var(--shadow-button-active);
}

.searchButton:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.searchButtonLoading {
	animation: spin 1s linear infinite;
}

.hint {
	font-size: 0.875rem;
	margin-top: 0.5rem;
}

.hintEmpty {
	color: var(--color-main-text);
}

.hintWarning {
	color: var(--color-accent);
}

.hintSuccess {
	color: #008c49;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
