.initialState {
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
	color: var(--color-main-text);
}

.initialIcon {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
	color: #bfbfbf;
}

.initialTitle {
	font-size: 1.125rem;
}

.initialSubtitle {
	font-size: 0.875rem;
}

.loadingState {
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.loadingIcon {
	margin-left: auto;
	margin-right: auto;
	animation: spin 1s linear infinite;
	color: var(--color-primary);
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.loadingText {
	margin-top: 0.5rem;
}
