.container {
	margin-bottom: 1.5rem;
}

.searchWrapper {
	display: flex;
	gap: 0.75rem;
}

.searchContainer {
	position: relative;
	flex: 1;
}

.searchIcon {
	position: absolute;
	left: 0.75rem;
	top: 50%;
	transform: translateY(-50%);
	width: 1.25rem;
	height: 1.25rem;
	color: #6b7280;
}

.input {
	width: 100%;
	padding-left: 2.5rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-radius: 0.25rem;
	outline: none;
	border: 1px solid var(--color-primary);
	background-color: white;
	transition-duration: 300ms;
}

.input:focus {
	box-shadow:
		0 4px 6px -1px rgb(0 0 0 / 0.1),
		0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.searchButton {
	background-color: var(--color-primary);
	color: white;
	border-radius: 0.25rem;
	transition-duration: 300ms;
	padding: 0.5rem 1rem;
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
	border: none;
	cursor: pointer;
}

.searchButton:hover {
	box-shadow:
		0 4px 6px -1px rgb(0 0 0 / 0.1),
		0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.searchButton:active {
	box-shadow:
		0 10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.searchButton:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.buttonIcon {
	width: 1.125rem;
	height: 1.125rem;
}

.spinner {
	animation: spin 1s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.hint {
	font-size: 0.875rem;
	line-height: 1.25rem;
	margin-top: 0.5rem;
}

.defaultHint {
	color: var(--color-main-text);
}

.warningHint {
	color: #ff6633;
}

.successHint {
	color: #008c49;
}
