.container {
	padding-left: max(12px, calc((100% - 1208px) / 2));
	padding-right: max(12px, calc((100% - 1208px) / 2));
	color: var(--color-main-text);
}

@media (min-width: 768px) {
	.container {
		padding-left: max(16px, calc((100% - 1208px) / 2));
		padding-right: max(16px, calc((100% - 1208px) / 2));
	}
}

.title {
	font-size: 1.25rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

@media (min-width: 768px) {
	.title {
		font-size: 1.5rem;
	}
}

.productHeader {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 1.5rem;
	margin-bottom: 1rem;
}

@media (min-width: 768px) {
	.productHeader {
		margin-bottom: 1.5rem;
	}
}

.article {
	font-size: 0.75rem;
}

.ratingContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5rem;
	align-items: center;
}

.reviewsCount {
	font-size: 0.875rem;
	text-decoration: underline;
}

.contentWrapper {
	display: flex;
	flex-direction: column;
	gap: 6.25rem;
}

@media (min-width: 768px) {
	.contentWrapper {
		gap: 5rem;
	}
}

@media (min-width: 1280px) {
	.contentWrapper {
		gap: 7.5rem;
	}
}

.mainContent {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	width: 100%;
	justify-content: center;
}

@media (min-width: 768px) {
	.mainContent {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 2.5rem;
	}
}

.infoColumn {
	display: flex;
	flex-direction: column;
}

@media (min-width: 768px) {
	.infoColumn {
		width: 344px;
	}
}

@media (min-width: 1024px) {
	.infoColumn {
		width: 376px;
	}
}

.reviewsSection {
	margin-bottom: 1rem;
}

@media (min-width: 768px) {
	.reviewsSection {
		margin-bottom: 2rem;
	}
}

@media (min-width: 1280px) {
	.reviewsSection {
		margin-bottom: 2.5rem;
	}
}

.reviewsTitle {
	font-size: 1.5rem;
	text-align: left;
	font-weight: 700;
	color: var(--color-main-text);
	margin-bottom: 1rem;
}

@media (min-width: 768px) {
	.reviewsTitle {
		margin-bottom: 2rem;
	}
}

@media (min-width: 1280px) {
	.reviewsTitle {
		font-size: 2.25rem;
		margin-bottom: 2.5rem;
	}
}

.reviewsContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 1rem;
}

@media (min-width: 768px) {
	.reviewsContainer {
		flex-direction: row;
		column-gap: 2rem;
	}
}

@media (min-width: 1280px) {
	.reviewsContainer {
		column-gap: 9rem;
	}
}
