.nav {
	height: 3.5rem;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0.5rem 1rem;
	box-shadow: var(--shadow-default);
	background-color: var(--color-bg-white);
	z-index: 50;
	gap: 1.5rem;
}

@media (min-width: 768px) {
	.nav {
		height: auto;
		position: static;
		box-shadow: none;
		font-size: 0.75rem;
	}
}
