.nav {
	height: 3.5rem;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0.5rem 1rem;
	box-shadow: var(--shadow-default);
	font-size: 8px;
	background-color: white;
	z-index: 50;
}

@media (min-width: 768px) {
	.nav {
		position: static;
		height: auto;
		box-shadow: none;
		font-size: 12px;
	}
}
