.alert {
	display: flex;
	align-items: center;
	padding: 0.5rem 0.75rem;
	border-radius: 0.25rem;
	margin-top: 0.75rem;
}

.icon {
	height: 1rem;
	width: 1rem;
	margin-right: 0.5rem;
	flex-shrink: 0;
}

.message {
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.success {
	background-color: var(--color-success-bg-light);
	color: var(--color-primary);
}

.warning {
	background-color: #fffbeb;
	color: #b45309;
}

.error {
	background-color: var(--color-error-bg);
	color: var(--color-error);
}
