.container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.iconContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.trashIcon {
	width: 3rem;
	height: 3rem;
	color: var(--color-error-light);
	margin-bottom: 1rem;
}

.title {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}

.warningText {
	text-align: center;
	color: #dc2626;
	font-weight: 500;
}

.description {
	text-align: center;
}

.errorMessage {
	padding: 0.75rem;
	background-color: var(--color-error-bg);
	color: var(--color-error);
	text-align: center;
	border-radius: 0.375rem;
}

.form {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.submitButton {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.75rem;
	background-color: var(--color-error-bg);
	color: var(--color-error);
	padding: 0.5rem 1rem;
	height: 2.5rem;
	border-radius: 0.375rem;
	font-weight: 500;
	transition-duration: 300ms;
	text-align: center;
	cursor: pointer;
	border: none;
}

.submitButton:hover {
	background-color: var(--color-error);
	color: #f2f2f2;
}

.submitButton:disabled {
	background-color: var(--color-warning-bg);
	cursor: not-allowed;
}

.submitButton:disabled:hover {
	background-color: var(--color-warning-bg);
	color: var(--color-error);
}

.mailIcon {
	width: 1rem;
	height: 1rem;
	flex-shrink: 0;
}

.loaderIcon {
	width: 1rem;
	height: 1rem;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
