.modalOverlay {
	position: fixed;
	inset: 0;
	background-color: #fbf8ec;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 50;
}

.modalContent {
	background-color: white;
	border-radius: 0.375rem;
	padding: 1.5rem;
	width: 24rem;
}

.modalTitle {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.errorContainer {
	margin-bottom: 1rem;
	padding: 0.75rem;
	background-color: #fef2f2;
	border: 1px solid #fecaca;
	color: #b91c1c;
	border-radius: 0.375rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.messageText {
	color: --color-main-text;
	margin-bottom: 1.5rem;
}

.buttonsContainer {
	display: flex;
	justify-content: flex-end;
	gap: 0.75rem;
}

.cancelButton {
	flex: 1;
	background-color: #f3f2f1;
	border: none;
	border-radius: 0.375rem;
	display: flex;
	padding: 0.5rem;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition-duration: 300ms;
}

.cancelButton:hover {
	box-shadow: var(--shadow-button-secondary);
}

.cancelButton:active {
	box-shadow: var(--shadow-button-active);
}

.deleteButton {
	flex: 1;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: #d80000;
	color: white;
	border-radius: 0.375rem;
	cursor: pointer;
	transition-duration: 300ms;
	border: none;
}

.deleteButton:hover {
	background-color: #b91c1c;
}
