.container {
	margin-bottom: 2rem;
}

.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	gap: 1rem;
}

.sectionTitle {
	font-size: 1.125rem;
	font-weight: 600;
	color: var(--color-main-text);
	width: 5rem;
}

.editButton {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.75rem;
	width: 100%;
	justify-content: center;
	padding: 0.5rem 1rem;
	border-radius: 0.375rem;
	font-weight: 500;
	cursor: pointer;
	transition-duration: 300ms;
	background-color: var(--color-accent);
	color: var(--color-bg-white);
	border: none;
}

.editButton:hover {
	box-shadow: 0 4px 8px rgba(112, 192, 91, 0.2);
}

.editButton:active {
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.editIcon {
	height: 1rem;
	width: 1rem;
}

.buttonGroup {
	display: flex;
	gap: 0.5rem;
	width: 100%;
}

.cancelButton {
	flex: 1;
	padding: 0.5rem 1rem;
	background-color: var(--color-bg-light);
	border-radius: 0.375rem;
	color: var(--color-text-muted-strong);
	cursor: pointer;
	transition-duration: 300ms;
	border: none;
	font-size: 1rem;
}

.cancelButton:hover {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cancelButton:active {
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.saveButton {
	flex: 1;
	padding: 0.5rem 1rem;
	background-color: var(--color-primary);
	border-radius: 0.375rem;
	color: var(--color-bg-white);
	cursor: pointer;
	transition-duration: 300ms;
	border: none;
	font-size: 1rem;
}

.saveButton:hover {
	box-shadow: 0 4px 8px rgba(112, 192, 91, 0.2);
}

.saveButton:active {
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.saveButton:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5rem;
}

.select {
	width: 100%;
}

@media (min-width: 768px) {
	.editButton {
		width: auto;
	}

	.buttonGroup {
		width: auto;
	}

	.cancelButton {
		flex: none;
	}

	.saveButton {
		flex: none;
	}

	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}
