.container {
	background: linear-gradient(to right, #ff6633, #70c05b);
	padding: 2rem 1.5rem;
	color: white;
}

.title {
	font-size: 1.875rem;
	line-height: 2.25rem;
	font-weight: 700;
}

.subtitle {
	margin-top: 0.5rem;
	opacity: 0.9;
}
