.container {
	background: linear-gradient(
		to right,
		var(--color-accent),
		var(--color-primary)
	);
	padding: 2rem 1.5rem;
	color: var(--color-bg-white);
}

.title {
	font-size: 1.875rem;
	line-height: 2.25rem;
	font-weight: 700;
}

.subtitle {
	margin-top: 0.5rem;
	opacity: 0.9;
}
