.profileEmailContainer {
	margin-bottom: 2rem;
}

.headerContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	gap: 1rem;
}

.sectionTitle {
	font-size: 1.125rem;
	font-weight: 600;
	color: var(--color-main-text);
	width: 5rem;
}

.buttonGroup {
	display: flex;
	gap: 0.5rem;
	width: 100%;
}

@media (min-width: 768px) {
	.buttonGroup {
		width: auto;
	}
}

.editButton {
	width: 100%;
	padding: 0.5rem 1rem;
	border-radius: 0.375rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.75rem;
	font-weight: 500;
	cursor: pointer;
	transition-duration: 300ms;
	background-color: #ff6633;
	color: white;
	border: none;
}

.editButton:hover {
	box-shadow: var(--shadow-article);
}

.editButton:active {
	box-shadow: var(--shadow-button-active);
}

@media (min-width: 768px) {
	.editButton {
		width: auto;
	}
}

.cancelButton {
	flex: 1;
	padding: 0.5rem 1rem;
	border-radius: 0.375rem;
	background-color: #f3f2f1;
	color: #606060;
	cursor: pointer;
	transition-duration: 300ms;
	border: none;
}

.cancelButton:hover {
	box-shadow: var(--shadow-button-secondary);
}

.cancelButton:active {
	box-shadow: var(--shadow-button-active);
}

@media (min-width: 768px) {
	.cancelButton {
		flex: none;
	}
}

.saveButton {
	flex: 1;
	padding: 0.5rem 1rem;
	border-radius: 0.375rem;
	background-color: var(--color-primary);
	color: white;
	cursor: pointer;
	transition-duration: 300ms;
	border: none;
}

.saveButton:hover {
	box-shadow: var(--shadow-button-default);
}

.saveButton:active {
	box-shadow: var(--shadow-button-active);
}

.saveButton:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

@media (min-width: 768px) {
	.saveButton {
		flex: none;
	}
}

.inputContainer {
	position: relative;
}

.input {
	width: 100%;
	height: 2.5rem;
	padding: 0.5rem 1rem;
	color: var(--color-main-text);
	font-size: 1rem;
	border: 1px solid #bfbfbf;
	border-radius: 0.375rem;
	caret-color: var(--color-primary);
}

.input:focus {
	border-color: var(--color-primary);
	box-shadow: var(--shadow-button-default);
	background-color: white;
	outline: none;
}

.input:disabled {
	background-color: #f3f2f1;
	cursor: not-allowed;
}

.mailIcon {
	position: absolute;
	right: 0.75rem;
	top: 50%;
	transform: translateY(-50%);
	height: 1.25rem;
	width: 1.25rem;
	color: #9ca3af;
}

.editIcon {
	height: 1rem;
	width: 1rem;
	margin-right: 0.25rem;
}
