.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2rem;
}

.avatarContainer {
	position: relative;
}

.avatar {
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	border: 4px solid white;
	box-shadow:
		0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
	object-fit: cover;
}

.loadingOverlay {
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.loadingSpinner {
	animation: spin 1s linear infinite;
	border-radius: 50%;
	height: 2rem;
	width: 2rem;
	border-bottom: 2px solid white;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	border-top: 2px solid transparent;
}

.fileInput {
	display: none;
}

.fileInputLabel {
	position: absolute;
	width: 2.5rem;
	height: 2.5rem;
	bottom: -0.3rem;
	right: 0;
	background-color: var(--color-primary);
	color: white;
	padding: 0.5rem;
	border-radius: 50%;
	cursor: pointer;
	box-shadow:
		0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	transition: background-color 0.3s;
}

.fileInputLabel:hover {
	background-color: #059669;
}

.cameraButton {
	position: absolute;
	bottom: -0.25rem;
	left: 0;
	background-color: #ff6633;
	color: white;
	padding: 0.5rem;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: var(--shadow-article);
	transition: background-color 0.3s;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cameraButton:hover {
	background-color: #e5410a;
}

.cameraButton:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.instructions {
	margin-top: 0.75rem;
	text-align: center;
}

.instructionText {
	font-size: 0.875rem;
	color: #4b5563;
	margin-bottom: 0.25rem;
}

.subInstructionText {
	font-size: 0.75rem;
	color: #6b7280;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
