.profilePasswordContainer {
	margin-bottom: 2rem;
	position: relative;
}

.headerContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	gap: 1rem;
}

.sectionTitle {
	font-size: 1.125rem;
	font-weight: 600;
	color: #414141;
	width: 5rem;
}

.editButton {
	width: 100%;
	padding: 0.5rem 1rem;
	border-radius: 0.375rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.75rem;
	font-weight: 500;
	cursor: pointer;
	transition-duration: 300ms;
	background-color: #ff6633;
	color: white;
	border: none;
}

.editButton:hover {
	box-shadow: var(--shadow-article);
}

.editButton:active {
	box-shadow: var(--shadow-button-active);
}

@media (min-width: 768px) {
	.editButton {
		width: auto;
	}
}

.inputContainer {
	position: relative;
}

.input {
	width: 100%;
	height: 2.5rem;
	padding: 0.5rem 1rem;
	color: #414141;
	font-size: 1rem;
	border: 1px solid #bfbfbf;
	border-radius: 0.375rem;
	caret-color: var(--color-primary);
}

.input:focus {
	border-color: #70c05b;
	box-shadow: var(--shadow-button-default);
	background-color: white;
	outline: none;
}

.input:disabled {
	background-color: #f3f2f1;
	cursor: not-allowed;
}

.keyIcon {
	position: absolute;
	right: 0.75rem;
	top: 50%;
	transform: translateY(-50%);
	height: 1.25rem;
	width: 1.25rem;
	color: #9ca3af;
}

.arrowIcon {
	height: 1rem;
	width: 1rem;
	margin-left: 0.25rem;
}

.modalOverlay {
	position: fixed;
	inset: 0;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(252, 213, 186, 0.8);
	min-height: 100vh;
	color: #414141;
	padding: 2.5rem 0.75rem;
	backdrop-filter: blur(4px);
}

.modalContent {
	position: relative;
	background-color: white;
	border-radius: 0.375rem;
	box-shadow: var(--shadow-auth-form);
	max-height: calc(100vh - 80px);
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
}

.modalHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.modalTitle {
	font-size: 1.125rem;
	font-weight: 600;
	color: #111827;
}

.closeButton {
	color: #9ca3af;
	padding: 0.25rem;
	border-radius: 9999px;
	cursor: pointer;
	transition-duration: 300ms;
	border: none;
}

.closeButton:hover {
	color: #4b5563;
	background-color: #f3f4f6;
}

.xIcon {
	height: 1.25rem;
	width: 1.25rem;
}

.modalText {
	color: #4b5563;
	margin-bottom: 1.5rem;
}

.modalButtonGroup {
	display: flex;
	gap: 0.75rem;
	justify-content: flex-end;
}

.cancelButton {
	flex: 1;
	padding: 0.5rem 1rem;
	border-radius: 0.375rem;
	background-color: #f3f2f1;
	color: #606060;
	cursor: pointer;
	transition-duration: 300ms;
	border: none;
}

.cancelButton:hover {
	box-shadow: var(--shadow-button-secondary);
}

.cancelButton:active {
	box-shadow: var(--shadow-button-active);
}

@media (min-width: 768px) {
	.cancelButton {
		flex: none;
	}
}

.saveButton {
	flex: 1;
	padding: 0.5rem 1rem;
	border-radius: 0.375rem;
	background-color: var(--color-primary);
	color: white;
	cursor: pointer;
	transition-duration: 300ms;
	border: none;
}

.saveButton:hover {
	box-shadow: var(--shadow-button-default);
}

.saveButton:active {
	box-shadow: var(--shadow-button-active);
}

@media (min-width: 768px) {
	.saveButton {
		flex: none;
	}
}
