.header {
	background: linear-gradient(90deg, #ff6633 0%, --color-primary 100%);
	padding: 2rem 1.5rem;
	color: var(--color-main-text);
}

.title {
	font-size: 1.875rem;
	line-height: 2.25rem;
	font-weight: bold;
}

.subtitle {
	margin-top: 0.5rem;
	opacity: 0.9;
}
