.container {
	margin-bottom: 2rem;
}

.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	gap: 1rem;
}

.title {
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 600;
	color: var(--color-main-text);
	width: 5rem;
}

.buttons {
	display: flex;
	gap: 0.5rem;
}

.editButton {
	background-color: var(--color-primary);
	color: var(--color-bg-white);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.25rem;
	cursor: pointer;
	transition-duration: 300ms;
	padding: 0.5rem 1rem;
	font-weight: 500;
	border: none;
	flex-direction: row;
	gap: 0.75rem;
}

.editButton:hover {
	box-shadow:
		0 4px 6px -1px rgb(0 0 0 / 0.1),
		0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.editButton:active {
	box-shadow:
		0 10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);
}

@media (min-width: 768px) {
	.editButton {
		width: auto;
	}
}

.cancelButton {
	padding: 0.5rem 1rem;
	background-color: var(--color-bg-light);
	border-radius: 0.25rem;
	color: var(--color-text-muted-strong);
	transition-duration: 300ms;
	cursor: pointer;
	border: none;
	flex: 1;
}

.cancelButton:hover {
	box-shadow:
		0 1px 3px 0 rgb(0 0 0 / 0.1),
		0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.cancelButton:active {
	box-shadow:
		0 10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.cancelButton:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

@media (min-width: 768px) {
	.cancelButton {
		flex: none;
	}
}

.saveButton {
	padding: 0.5rem 1rem;
	background-color: var(--color-primary);
	color: var(--color-bg-white);
	border-radius: 0.25rem;
	transition-duration: 300ms;
	border: none;
	cursor: pointer;
	flex: 1;
}

.saveButton:hover:not(:disabled) {
	box-shadow:
		0 4px 6px -1px rgb(0 0 0 / 0.1),
		0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.saveButton:active:not(:disabled) {
	box-shadow:
		0 10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.saveButton:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

@media (min-width: 768px) {
	.saveButton {
		flex: none;
	}
}

.inputContainer {
	position: relative;
}

.input {
	width: 16.25rem;
	height: 2.5rem;
	padding: 0.5rem 1rem;
	color: var(--color-main-text);
	font-size: 1rem;
	line-height: 1.5rem;
	border: 1px solid var(--color-border-input);
	border-radius: 0.25rem;
	background-color: var(--color-bg-white);
}

.input:focus {
	border-color: var(--color-primary);
	box-shadow:
		0 4px 6px -1px rgb(0 0 0 / 0.1),
		0 2px 4px -2px rgb(0 0 0 / 0.1);
	background-color: var(--color-bg-white);
	outline: none;
	caret-color: var(--color-primary);
}

.input:disabled {
	cursor: not-allowed;
	background-color: var(--color-bg-light);
}

.inputFullWidth {
	width: 100%;
}

.cardIcon {
	position: absolute;
	right: 0.75rem;
	top: 50%;
	transform: translateY(-50%);
	height: 1.25rem;
	width: 1.25rem;
	color: var(--color-text-muted);
}

.editIcon {
	height: 1rem;
	width: 1rem;
	margin-left: 0.25rem;
}

.error {
	color: var(--color-error-light);
	font-size: 0.875rem;
	line-height: 1.25rem;
	margin-top: 0.5rem;
}

.info {
	color: var(--color-text-secondary);
	font-size: 0.875rem;
	line-height: 1.25rem;
	margin-top: 0.5rem;
}
