.container {
	border-top: 1px solid #e5e7eb;
	padding-top: 2rem;
}

.title {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: bold;
	color: var(--color-main-text);
	margin-bottom: 1.5rem;
}

.error {
	margin-bottom: 1rem;
	padding: 0.75rem;
	background-color: #fef2f2;
	border: 1px solid #fecaca;
	color: #d80000;
	border-radius: 0.375rem;
}

.buttonsGrid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5rem;
}

@media (min-width: 1024px) {
	.buttonsGrid {
		grid-template-columns: repeat(3, 1fr);
	}
}

.buttonBase {
	width: 260px;
	height: 68px;
	margin: 40px auto;
	font-size: 1.5rem;
	line-height: 2rem;
	border-radius: 0.375rem;
	cursor: pointer;
	transition: all 200ms;
}

.buttonActive {
	background-color: #ff6633;
	color: white;
}

.buttonActive:hover {
	box-shadow: var(--shadow-article);
}

.buttonActive:active {
	box-shadow: var(--shadow-button-active);
}

.buttonInactive {
	background-color: #fcd5ba;
	color: #ff6633;
}

.logoutProfileButton {
	background-color: #ff6633;
	color: white;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	padding: 8px 16px;
	border-radius: 6px;
	font-weight: 500;
	cursor: pointer;
	transition-duration: 300ms;
	border: none;
}

.logoutProfileButton:hover {
	background-color: #f3f2f1;
	color: #606060;
	box-shadow: var(--shadow-article);
}

.logoutProfileButton:active {
	background-color: #f3f2f1;
	color: #606060;
	box-shadow: var(--shadow-button-active);
}

.logoutAppButton {
	flex: 1;
	background-color: #f3f2f1;
	border: none;
	border-radius: 0.375rem;
	display: flex;
	padding: 0.5rem 1rem;
	justify-content: center;
	align-items: center;
	height: 3rem;
	color: #606060;
	font-weight: 500;
	cursor: pointer;
	transition-duration: 300ms;
}

.logoutAppButton:hover {
	box-shadow: var(--shadow-button-secondary);
}

.logoutAppButton:active {
	box-shadow: var(--shadow-button-active);
}

.logoutAppButton:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.deleteAccountButton {
	background-color: #ffc7c7;
	color: #d80000;
	padding: 0.5rem 1rem;
	height: 3rem;
	border-radius: 0.375rem;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
	transition-duration: 300ms;
	border: none;
}

.deleteAccountButton:hover {
	background-color: #d80000;
	color: #f2f2f2;
}
