.productCard {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 10rem;
	border-radius: 0.25rem;
	overflow: hidden;
	background-color: var(--color-bg-white);
	height: 349px;
	align-items: flex-start;
	padding: 0;
	transition-duration: 300ms;
}

.productCard:hover {
	box-shadow: var(--shadow-article);
}

.quantityIndicator {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	color: var(--color-main-text);
	display: flex;
	align-items: center;
	padding: 0.25rem;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 0.25rem;
	justify-content: center;
	gap: 0.25rem;
	font-size: 1.125rem;
	font-weight: 700;
	z-index: 10;
}

.stockIndicator {
	position: absolute;
	top: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
	padding: 0.25rem;
	border-radius: 0.25rem;
	font-size: 0.5rem;
	z-index: 10;
}

@media (min-width: 768px) {
	.stockIndicator {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		font-size: 0.75rem;
	}
}

.outOfStock {
	background-color: var(--color-error);
	color: var(--color-bg-white);
}

.lowStock {
	background-color: var(--color-accent);
	color: var(--color-bg-white);
}

.productImageContainer {
	position: relative;
	aspect-ratio: 1 / 1;
	width: 10rem;
	height: 10rem;
}

.productImage {
	object-fit: contain;
}

.discountBadge {
	position: absolute;
	background-color: var(--color-accent);
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	color: var(--color-bg-white);
	bottom: 0.625rem;
	left: 0.625rem;
}

.cardContent {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	height: 11.8125rem;
}

.priceSection {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	height: 2.8125rem;
	outline: none;
}

.priceContainer {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.currentPrice {
	display: flex;
	flex-direction: row;
	gap: 0.25rem;
	font-size: 0.875rem;
	font-weight: 700;
	color: var(--color-main-text);
}

.cardPriceLabel {
	color: var(--color-border-input);
	font-size: 0.5rem;
}

.originalPrice {
	display: flex;
	flex-direction: row;
	gap: 0.25rem;
	font-size: 0.75rem;
	color: #606060;
}

.description {
	height: 3.375rem;
	font-size: 0.75rem;
	color: var(--color-main-text);
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	line-height: 1.5;
}

@media (min-width: 768px) {
	.productCard {
		width: 224px;
	}

	.productImageContainer {
		width: 224px;
	}

	.currentPrice {
		font-size: 1.125rem;
	}

	.cardPriceLabel {
		font-size: 0.75rem;
	}

	.originalPrice {
		font-size: 1rem;
	}

	.description {
		font-size: 1rem;
		-webkit-line-clamp: 2;
	}
}

@media (min-width: 1280px) {
	.productCard {
		width: 272px;
	}

	.productImageContainer {
		width: 272px;
	}
}
