.topMenu {
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	align-items: flex-end;
}

.menuItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.625rem;
	width: 2.75rem;
	cursor: pointer;
}

.menuLink {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.625rem;
	width: 2.75rem;
	cursor: pointer;
	text-decoration: none;
}

.menuLink:hover,
.menuLink:focus,
.menuLink:active {
	text-decoration: none;
	color: inherit;
	outline: none;
}

.menuIcon {
	object-fit: contain;
	width: 1.5rem;
	height: 1.5rem;
}

.menuText {
	font-size: 0.875rem;
	color: var(--color-title);
}

.menuTextActive {
	font-size: 0.875rem;
	color: #ff6633;
}

@media (min-width: 768px) {
	.menuLink {
		display: none;
	}
}
