.container {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	align-items: flex-end;
	list-style: none;
	padding: 0;
	margin: 0;
}

.menuItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.175rem;
	width: 2.75rem;
	cursor: pointer;
	text-decoration: none;
}

.menuText {
	color: var(--color-main-text);
	font-size: 0.75rem;
	line-height: 1.125rem;
}

.menuTextActive {
	color: #ff6633;
	line-height: 1.125rem;
	font-size: 0.75rem;
}

.mobileOnly {
	display: flex;
}

@media (min-width: 768px) {
	.mobileOnly {
		display: none;
	}

	.menuItem {
		gap: 0.6rem;
	}
}

.icon {
	object-fit: contain;
	width: 1.5rem;
	height: 1.5rem;
}
