.menu {
	display: flex;
	flex-direction: row;
	gap: 0 1.5rem;
	align-items: flex-end;
	margin: 0;
	padding: 0;
}

.menuItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.625rem;
	width: 2.75rem;
	cursor: pointer;
}

.mobileMenuItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.625rem;
	width: 2.75rem;
	cursor: pointer;
	text-align: center;
}

.menuIcon {
	object-fit: contain;
	width: 1.5rem;
	height: 1.5rem;
}

@media (min-width: 768px) {
	.mobileMenuItem {
		display: none;
	}
}
