.container {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	align-items: flex-end;
	list-style: none;
	padding: 0;
	margin: 0;
}

.menuItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.175rem;
	width: 2.75rem;
	cursor: pointer;
	text-decoration: none;
}

.menuText {
	color: var(--color-main-text);
	font-size: 0.75rem;
	line-height: 1.125rem;
}

.menuTextActive {
	color: #ff6633;
	line-height: 1.125rem;
	font-size: 0.75rem;
}

.mobileOnly {
	display: flex;
}

@media (min-width: 768px) {
	.mobileOnly {
		display: none;
	}

	.menuItem {
		gap: 0.6rem;
	}
}

.cartItem {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.625rem;
	width: 2.75rem;
	cursor: pointer;
}

.badge {
	position: absolute;
	top: -0.5rem;
	right: 0;
	background-color: #ff6633;
	color: white;
	font-size: 0.5625rem;
	line-height: 1rem;
	border-radius: 50%;
	width: 1rem;
	height: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.125rem 0.25rem;
}
