.icon {
	width: 1.5rem;
	height: 1.5rem;
}

.rect {
	fill: rgb(255, 255, 255);
	fill-opacity: 0;
}

.path {
	fill-rule: evenodd;
}

.pathDefaultActive {
	fill: #ff3b30;
}

.pathOrangeActive {
	fill: #ff6633;
}

.pathInactive {
	fill: #606060;
}
