.icon {
	width: 1.5rem;
	height: 1.5rem;
}

.rect {
	fill-opacity: 0;
}

.rectActive {
	fill: var(--color-accent);
}

.pathActive {
	fill: var(--color-accent);
}

.rectInactive {
	fill: #606060;
}

.pathInactive {
	fill: #606060;
}
