.catalogPage {
	padding-left: max(12px, calc((100% - 1208px) / 2));
	padding-right: max(12px, calc((100% - 1208px) / 2));
	margin-left: auto;
	margin-right: auto;
}

.catalogTitle {
	margin-bottom: 1rem;
	display: flex;
	flex-direction: row;
	font-size: 2.25rem;
	color: var(--color-title);
	font-weight: 700;
}

.noCategories {
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 2rem;
	color: #6b7280;
}

@media (min-width: 768px) {
	.catalogTitle {
		margin-bottom: 2rem;
		font-size: 3rem;
	}
}

@media (min-width: 1280px) {
	.catalogTitle {
		margin-bottom: 2.5rem;
		font-size: 4rem;
	}
}
