.allUserPurchases {
	padding-left: max(12px, calc((100% - 1208px) / 2));
	padding-right: max(12px, calc((100% - 1208px) / 2));
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 5rem;
}

.allUserPurchasesContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.allUserPurchasesHeader {
	margin-bottom: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #414141;
}

.allUserPurchasesTitle {
	font-size: 1.5rem;
	text-align: left;
	font-weight: 700;
}

.purchasesGrid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	justify-items: center;
}

@media (min-width: 768px) {
	.allUserPurchasesHeader {
		margin-bottom: 2rem;
	}

	.purchasesGrid {
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
	}
}

@media (min-width: 1280px) {
	.allUserPurchasesContainer {
		max-width: 1208px;
	}

	.allUserPurchasesHeader {
		margin-bottom: 2.5rem;
	}

	.allUserPurchasesTitle {
		font-size: 2.25rem;
	}

	.purchasesGrid {
		grid-template-columns: repeat(4, 1fr);
		gap: 2.5rem;
	}
}
