.container {
	position: relative;
	display: inline-block;
}

.baseSvg {
	display: block;
}

.baseStar {
	fill: var(--color-border-input);
	fill-opacity: 1;
}

.filledStarContainer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	overflow: hidden;
}

.filledSvg {
	display: block;
}

.filledStar {
	fill: var(--color-accent);
	fill-opacity: 1;
}
