.container {
	padding: 1.5rem;
}

.title {
	font-size: 1.5rem;
	line-height: 2rem;
	color: var(--color-main-text);
	font-weight: 700;
	margin-bottom: 1.5rem;
}

.linksGrid {
	display: grid;
	gap: 1rem;
}

.link {
	background-color: #ff6633;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.25rem;
	cursor: pointer;
	transition-duration: 300ms;
	padding: 0.5rem 1rem;
	text-decoration: none;
	width: 100%;
}

.link:hover {
	box-shadow:
		0 10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.link:active {
	box-shadow:
		0 20px 25px -5px rgb(0 0 0 / 0.1),
		0 8px 10px -6px rgb(0 0 0 / 0.1);
}

@media (min-width: 768px) {
	.link {
		width: 50%;
		justify-content: flex-start;
	}
}

.linkWithVars:hover {
	box-shadow: var(--shadow-article);
}

.linkWithVars:active {
	box-shadow: var(--shadow-button-active);
}
