.sidebarButton {
	position: fixed;
	top: 1.25rem;
	right: 1.5rem;
	z-index: 100;
	padding: 0.75rem;
	background-color: var(--color-primary);
	color: var(--color-bg-white);
	border-radius: 9999px;
	box-shadow: var(--shadow-default);
	transition: background-color 0.3s ease;
	cursor: pointer;
	border: none;
	width: 44px;
	height: 44px;
}

.sidebarButton:hover {
	background-color: rgba(112, 192, 91, 0.9);
}

.buttonIcon {
	width: 1.25rem;
	height: 1.25rem;
}

.main {
	min-height: 100vh;
	padding-left: max(12px, calc((100% - 1208px) / 2));
	padding-right: max(12px, calc((100% - 1208px) / 2));
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
