.header {
	background-color: var(--color-white);
	width: 100%;
	position: relative;
	z-index: 50;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.headerTop {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	padding: 0.5rem 1rem;
	align-items: center;
	box-shadow: var(--shadow-default);
}

@media (min-width: 768px) {
	.header {
		flex-direction: row;
		gap: 2.5rem;
		padding: 0.5rem;
	}

	.headerTop {
		box-shadow: none;
	}
}

@media (min-width: 1280px) {
	.header {
		gap: 1.75rem;
	}

	.headerTop {
		gap: 2.5rem;
	}
}
