.header {
	background-color: #ffffff;
	width: 100%;
	position: relative;
	z-index: 50;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.headerTop {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	padding: 0.5rem 1rem;
	align-items: center;
	box-shadow: var(--shadow-default);
}

.searchContainer {
	display: flex;
	align-items: center;
}

.catalogMenu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #ffffff;
	box-shadow: var(--shadow-catalog-menu);
	z-index: 50;
}

.catalogMenuContent {
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

.categoriesGrid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
}

.categoryLink {
	display: block;
	padding: 1rem 0.5rem;
	color: #414141;
	font-weight: 700;
	transition-duration: 300ms;
	text-decoration: none;
}

.categoryLink:hover {
	color: #ff6633;
}

.loadingText {
	padding: 0.5rem 0;
	text-align: center;
}

.noCategoriesText {
	padding: 0.5rem 0;
	text-align: center;
}

@media (min-width: 768px) {
	.header {
		flex-direction: row;
		gap: 2.5rem;
		padding: 0.5rem;
	}

	.headerTop {
		box-shadow: none;
	}

	.catalogMenu {
		display: block;
	}
}

@media (min-width: 1280px) {
	.header {
		gap: 1.75rem;
	}

	.headerTop {
		gap: 2.5rem;
	}

	.categoriesGrid {
		grid-template-columns: repeat(4, 1fr);
	}
}
