.cardContainer {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.label {
	font-size: 1rem;
	color: var(--color-text-placeholder);
	display: block;
}

.input {
	width: 16.25rem;
	height: 2.5rem;
	padding: 0.5rem 1rem;
	color: var(--color-main-text);
	font-size: 1rem;
	border: 1px solid var(--color-border-input);
	border-radius: 0.25rem;
	caret-color: var(--color-primary);
}

.input:focus {
	border-color: var(--color-primary);
	box-shadow: var(--shadow-button-default);
	background-color: var(--color-bg-white);
	outline: none;
}

.inputDisabled {
	background-color: var(--color-bg-light);
	cursor: not-allowed;
}
