.checkboxContainer {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.checkboxLabel {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
}

.checkboxInput {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
}

.checkboxCustom {
	position: relative;
	width: 1.25rem;
	height: 1.25rem;
	border: 1px solid var(--color-border-input);
	border-radius: 0.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition-duration: 300ms;
	background-color: var(--color-bg-white);
}

.checkboxCustomChecked {
	background-color: var(--color-primary);
	border-color: var(--color-primary);
}

.checkboxIcon {
	color: var(--color-bg-white);
}

.checkboxText {
	margin-left: 0.5rem;
	color: var(--color-text-placeholder);
}
