.dateInputContainer {
	position: relative;
}

.label {
	font-size: 1rem;
	color: var(--color-text-placeholder);
	display: block;
}

.input {
	width: 16.25rem;
	height: 2.5rem;
	padding: 0.5rem 1rem;
	color: var(--color-main-text);
	font-size: 1rem;
	border: 1px solid var(--color-border-input);
	border-radius: 0.25rem;
	caret-color: var(--color-primary);
	padding-right: 2rem;
}

.input:focus {
	border-color: var(--color-primary);
	box-shadow: var(--shadow-button-default);
	background-color: var(--color-bg-white);
	outline: none;
}

.inputContainer {
	position: relative;
}

.calendarButton {
	position: absolute;
	right: 0.5rem;
	top: 50%;
	transform: translateY(-50%);
	background: none;
	border: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
	outline: none;
	box-shadow: none;
}

.calendarButton:focus {
	outline: none;
	box-shadow: none;
}

.calendarButton:active {
	background: none;
	border: none;
	box-shadow: none;
}
