.container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.title {
	font-size: 1.5rem;
	font-weight: bold;
	color: #414141;
	text-align: center;
}

.subtitle {
	text-align: center;
	color: #8f8f8f;
}

.form {
	width: 260px;
	margin: 0 auto;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.codeInput {
	display: flex;
	justify-content: center;
	width: 110px;
	height: 60px;
	text-align: center;
	font-size: 1.5rem;
	padding: 0.75rem 1rem;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
}

.codeInput:focus {
	border-color: #70c05b;
	box-shadow: var(--shadow-button-default);
	background-color: white;
	outline: none;
}

.error {
	color: #ef4444;
	text-align: center;
	margin-top: 0.5rem;
	font-size: 0.875rem;
}

.button {
	width: 260px;
	height: 68px;
	margin: 2rem auto 0;
	font-size: 1.5rem;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.2s;
	margin-bottom: 0;
}

.buttonActive {
	background-color: #ff6633;
	color: white;
}

.buttonActive:hover {
	box-shadow: var(--shadow-article);
}

.buttonActive:active {
	box-shadow: var(--shadow-button-active);
}

.buttonInactive {
	background-color: #fcd5ba;
	color: #ff6633;
}

.backLink {
	height: 2rem;
	font-size: 0.75rem;
	color: #414141;
	width: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	margin: 0 auto;
	transition-duration: 300ms;
	cursor: pointer;
}

.backLink:hover {
	color: black;
}
