.genderContainer {
	font-size: 0.75rem;
	width: 100%;
}

.label {
	font-size: 1rem;
	color: var(--color-text-placeholder);
	display: block;
}

.genderGroup {
	display: flex;
	gap: 0.25rem;
	background-color: var(--color-bg-light);
	height: 2.5rem;
	border-radius: 0.25rem;
	padding: 0.25rem;
}

.genderLabel {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	border-radius: 0.25rem;
	transition-duration: 300ms;
	cursor: pointer;
}

.genderLabelActive {
	background-color: var(--color-primary);
	color: var(--color-bg-white);
}

.genderInput {
	display: none;
}
