.label {
	font-size: 1rem;
	color: var(--color-text-placeholder);
	display: block;
}

.input {
	width: 260px;
	height: 2.5rem;
	padding: 0.5rem 1rem;
	color: var(--color-main-text);
	font-size: 1rem;
	border: 1px solid var(--color-border-input);
	border-radius: 4px;
	appearance: none;
	padding-right: 2rem;
	cursor: pointer;
	caret-color: var(--color-primary);
}

.input:focus {
	border-color: var(--color-primary);
	box-shadow: var(--shadow-button-default);
	background-color: var(--color-bg-white);
	outline: none;
}

.input:disabled {
	cursor: not-allowed;
	background-color: var(--color-bg-light);
}

.selectContainer {
	position: relative;
}

.arrowIcon {
	position: absolute;
	right: 0.5rem;
	top: 50%;
	transform: translateY(-50%) rotate(90deg);
	pointer-events: none;
}
