.successTitle {
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--color-primary);
	margin-bottom: 1rem;
}

.successMessage {
	font-size: 1.125rem;
	margin-bottom: 1.5rem;
}

.progressContainer {
	width: 100%;
	background-color: var(--color-border-light);
	border-radius: 9999px;
	height: 0.625rem;
}

.progressBar {
	background-color: var(--color-primary);
	height: 0.625rem;
	border-radius: 9999px;
	animation: progress 3s linear forwards;
}

@keyframes progress {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
