.modalContainer {
	animation: zoomIn 0.2s ease-out;
}

.contentContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
}

.header {
	text-align: center;
}

.title {
	font-size: 1.875rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.subtitle {
	color: var(--color-text-secondary);
}

.verificationOptions {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.verificationLink {
	width: 15rem;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0.75rem;
	border: 2px solid var(--color-border-light);
	border-radius: 0.75rem;
	background-color: var(--color-bg-white);
	transition: all 0.3s;
	cursor: pointer;
	text-decoration: none;
}

.verificationLink:hover {
	border-color: var(--color-accent);
	box-shadow: var(--shadow-article);
}

.verificationLink:active {
	box-shadow: var(--shadow-button-active);
}

.iconContainer {
	padding: 0.75rem;
	margin-bottom: 1rem;
	border-radius: 9999px;
	background-color: #fff2ed;
	transition: background-color 0.3s;
}

.verificationLink:hover .iconContainer {
	background-color: var(--color-accent);
}

.iconContainer {
	padding: 0.75rem;
	margin-bottom: 1rem;
	border-radius: 9999px;
	background-color: #fff2ed;
	transition: background-color 0.3s;
}

.verificationLink:hover .iconContainer {
	background-color: var(--color-accent);
}

.icon {
	width: 1.5rem;
	height: 1.5rem;
	color: var(--color-accent);
	transition: color 0.3s;
}

.verificationLink:hover .icon {
	color: var(--color-bg-white);
}

.linkTitle {
	font-weight: 500;
	color: #111827;
}

.linkSubtitle {
	font-size: 0.875rem;
	color: var(--color-text-secondary);
	margin-top: 0.25rem;
}

.pingIndicator {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: -0.5rem;
	margin-right: -0.5rem;
}

.pingCircle {
	display: flex;
	height: 1rem;
	width: 1rem;
}

.pingAnimation {
	position: absolute;
	animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
	border-radius: 9999px;
	background-color: var(--color-accent);
	opacity: 0.75;
	height: 100%;
	width: 100%;
}

.pingDot {
	position: relative;
	border-radius: 9999px;
	background-color: var(--color-accent);
	height: 1rem;
	width: 1rem;
}

.divider {
	display: flex;
	align-items: center;
	margin: 0.5rem 0;
}

.dividerLine {
	flex-grow: 1;
	border-top: 1px solid var(--color-border-light);
}

.dividerText {
	margin: 0 1rem;
	color: var(--color-text-muted);
	font-size: 0.875rem;
}

@media (min-width: 768px) {
	.verificationLink {
		width: 20rem;
	}
}

@keyframes ping {
	75%,
	100% {
		transform: scale(2);
		opacity: 0;
	}
}

@keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale(0.95);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
