.container {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	font-size: 1rem;
	padding-bottom: 1.5rem;
	border-bottom-width: 2px;
	border-bottom-color: #f3f2f1;
}

.toggleRow {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.625rem;
}

.bonusInfo {
	color: #8f8f8f;
}
