.container {
	display: flex;
	flex-direction: column;
	row-gap: 1.5rem;
}

@media (min-width: 768px) {
	.container {
		width: 255px;
	}
}

@media (min-width: 1280px) {
	.container {
		width: 272px;
	}
}
