.container {
	position: relative;
	width: 100%;
	max-width: 21rem;
	height: 6rem;
}

@media (min-width: 768px) {
	.container {
		width: 21rem;
	}
}

.title {
	font-size: 2.25rem;
	font-weight: 700;
	margin-bottom: 2rem;
}

@media (min-width: 768px) {
	.title {
		font-size: 3rem;
		margin-bottom: 2.5rem;
	}
}

@media (min-width: 1280px) {
	.title {
		font-size: 4rem;
		margin-bottom: 3.75rem;
	}
}

.countBadge {
	position: absolute;
	margin-left: 1.25rem;
	top: -0.5rem;
	background-color: var(--color-accent);
	border-radius: 0.25rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.countBadgeCart {
	right: 8.25rem;
}

@media (min-width: 768px) {
	.countBadgeCart {
		right: 5rem;
	}
}

@media (min-width: 1280px) {
	.countBadgeCart {
		right: 0;
	}
}

.countBadgeDelivery {
	right: 7.25rem;
}

@media (min-width: 768px) {
	.countBadgeDelivery {
		right: 3.75rem;
	}
}

@media (min-width: 1280px) {
	.countBadgeDelivery {
		right: -1.25rem;
	}
}

.countText {
	font-size: 1rem;
	color: var(--color-bg-white);
}
