.container {
	background-color: var(--color-bg-white);
	border-radius: 0.25rem;
	display: flex;
	box-shadow:
		0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	transition-duration: 300ms;
	position: relative;
}

.container:hover {
	box-shadow: var(--shadow-article);
}

.containerOutOfStock {
	opacity: 0.6;
}

.contentWrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.productSection {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.details {
	flex: 1;
	display: flex;
	min-width: 14rem;
	flex-direction: column;
	gap: 0.625rem;
	padding: 0.625rem;
}

.productLink {
	font-size: 1rem;
	color: var(--color-bg-dark);
	cursor: pointer;
	text-decoration: none;
}

.productLink:hover {
	color: var(--color-accent);
}

.infoRow {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
}

.priceRowMobile {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.discountedPrice {
	text-decoration: line-through;
	font-weight: normal;
	font-size: 0.75rem;
	color: var(--color-text-placeholder);
}

.discountAmount {
	font-weight: normal;
	font-size: 0.75rem;
	color: var(--color-accent);
}

.controlsSection {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
	width: 100%;
	padding: 0.5rem;
}

.totalPriceOutOfStock {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.outOfStockText {
	font-weight: normal;
	font-size: 0.875rem;
	display: flex;
}

.totalPrice {
	font-size: 0.875rem;
	font-weight: 700;
	text-align: right;
}

.priceColumn {
	width: 6.5rem;
}

@media (min-width: 768px) {
	.contentWrapper {
		flex-wrap: nowrap;
	}

	.productSection {
		flex-wrap: nowrap;
	}

	.details {
		flex: initial;
	}

	.priceRowMobile {
		display: none;
	}

	.discountedPrice {
		font-size: 1rem;
	}

	.controlsSection {
		width: 7.5rem;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: normal;
		align-items: flex-end;
	}

	.totalPrice {
		font-size: 1.125rem;
	}

	.outOfStockText {
		font-size: 1rem;
	}
}

@media (min-width: 1280px) {
	.contentWrapper {
		min-width: 54.75rem;
	}

	.controlsSection {
		width: 14.75rem;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-end;
	}
}
