.container {
	background-color: #ffffff;
	border-radius: 0.25rem;
	display: flex;
	box-shadow:
		0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}

.checkbox {
	width: 1.5rem;
	height: 1.5rem;
	background-color: #e5e7eb;
	border-radius: 0.25rem;
	position: absolute;
	top: -0.75rem;
	left: 1rem;
}

.contentWrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

@media (min-width: 768px) {
	.contentWrapper {
		flex-wrap: nowrap;
	}
}

.productSection {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@media (min-width: 768px) {
	.productSection {
		flex-wrap: nowrap;
	}
}

.image {
	width: 6rem;
	height: 6rem;
	background-color: #e5e7eb;
	border-radius: 0.25rem;
	margin: 0.625rem;
}

.details {
	flex: 1;
	display: flex;
	min-width: 14rem;
	flex-direction: column;
	gap: 0.625rem;
	padding: 0.625rem;
}

@media (min-width: 768px) {
	.details {
		flex: initial;
	}
}

.title {
	height: 1.5rem;
	background-color: #e5e7eb;
	border-radius: 0.25rem;
	width: 75%;
	margin-bottom: 0.5rem;
}

.infoRow {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
}

.brand {
	height: 1.75rem;
	background-color: #e5e7eb;
	border-radius: 0.25rem;
	width: 5rem;
}

.rating {
	height: 1.5rem;
	background-color: #e5e7eb;
	border-radius: 0.25rem;
	width: 3rem;
}

.weight {
	height: 1rem;
	background-color: #e5e7eb;
	border-radius: 0.25rem;
	width: 50%;
}

.controlsSection {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
	width: 100%;
	padding: 0.5rem;
}

@media (min-width: 768px) {
	.controlsSection {
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: normal;
		align-items: flex-end;
	}
}

@media (min-width: 1280px) {
	.controlsSection {
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-end;
	}
}

.quantitySelector {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	width: 8rem;
	height: 2.5rem;
	background-color: #e5e7eb;
	padding: 0.5rem;
	border-radius: 0.5rem;
}

.quantityButton {
	width: 2rem;
	height: 2rem;
	background-color: #d1d5db;
	border-radius: 0.25rem;
}

.quantityDisplay {
	width: 4rem;
	height: 1.5rem;
	background-color: #d1d5db;
	border-radius: 0.25rem;
}

.price {
	width: 6.5rem;
	height: 2rem;
	background-color: #e5e7eb;
	border-radius: 0.25rem;
}
