.container {
	display: flex;
	align-items: center;
	gap: 2.5rem;
	margin-bottom: 1rem;
}

.checkboxLabel {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
}

.checkboxInput {
	display: none;
}

.checkbox {
	width: 1.5rem;
	height: 1.5rem;
	background-color: var(--color-primary);
	border: 1px solid var(--color-bg-light);
	border-radius: 0.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition-duration: 300ms;
}

.minusIcon {
	width: 0.9375rem;
	height: 1px;
	background-color: var(--color-bg-white);
}

.plusIcon {
	position: relative;
	width: 0.9375rem;
	height: 0.9375rem;
}

.plusIconHorizontal {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: var(--color-bg-white);
	transform: translateY(-50%);
}

.plusIconVertical {
	position: absolute;
	left: 50%;
	top: 0;
	width: 1px;
	height: 100%;
	background-color: var(--color-bg-white);
	transform: translateX(-50%);
}

.labelText {
	font-size: 0.75rem;
}

.removeButton {
	color: var(--color-accent);
	font-size: 0.75rem;
	cursor: pointer;
	text-decoration: none;
	border: none;
	background: none;
}

.removeButton:hover {
	text-decoration: underline;
}

@media (min-width: 1280px) {
	.container {
		margin-bottom: 1.5rem;
	}
}
