.container {
	margin-bottom: 1.5rem;
}

.titleSkeleton {
	height: 2rem;
	background-color: var(--color-border-light);
	border-radius: 0.25rem;
	margin-bottom: 1.5rem;
	width: 8rem;
	animation: pulse 1.5s ease-in-out infinite;
}

.contentWrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.inputGroup {
	display: flex;
	flex-direction: column;
}

.labelSkeleton {
	height: 1.25rem;
	background-color: var(--color-border-light);
	border-radius: 0.25rem;
	margin-bottom: 0.5rem;
	width: 3rem;
	animation: pulse 1.5s ease-in-out infinite;
}

.inputSkeleton {
	height: 3rem;
	background-color: var(--color-border-light);
	border-radius: 0.25rem;
	width: 100%;
	animation: pulse 1.5s ease-in-out infinite;
}

.timeSlotsWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.timeSlotsGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.5rem;
	width: 100%;
}

.timeSlotSkeleton {
	height: 2.5rem;
	background-color: var(--color-border-light);
	border-radius: 0.25rem;
	animation: pulse 1.5s ease-in-out infinite;
}

@media (min-width: 768px) {
	.contentWrapper {
		flex-direction: row;
		flex-wrap: nowrap;
		column-gap: 2rem;
	}

	.inputSkeleton {
		width: 9.6875rem;
	}
}

@media (min-width: 1280px) {
	.titleSkeleton {
		height: 2.25rem;
	}

	.contentWrapper {
		column-gap: 2.5rem;
	}

	.timeSlotsGrid {
		grid-template-columns: repeat(4, 1fr);
	}
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}
