.container {
	margin-bottom: 2rem;
}

.title {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 1.5rem;
}

.formWrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.mainFields {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.fieldGroup {
	display: flex;
	flex-direction: column;
}

.label {
	font-size: 1rem;
	color: var(--color-text-placeholder);
	display: block;
	margin-bottom: 0.5rem;
}

.select {
	width: 100%;
	height: 2.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: var(--color-bg-white);
	color: var(--color-main-text);
	font-size: 1rem;
	border: 1px solid var(--color-border-input);
	border-radius: 0.25rem;
	transition: all 0.3s;
	appearance: none;
	background-image: url("/icons-header/icon-arrow.svg");
	background-repeat: no-repeat;
	background-position: right 12px center;
	background-size: 24px 24px;
	cursor: pointer;
}

.select:focus {
	border-color: var(--color-primary);
	box-shadow: var(--shadow-button-default);
	background-color: var(--color-bg-white);
	outline: none;
}

.input {
	width: 100%;
	height: 2.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: var(--color-bg-white);
	color: var(--color-main-text);
	font-size: 1rem;
	border: 1px solid var(--color-border-input);
	border-radius: 0.25rem;
	transition: all 0.3s;
	caret-color: var(--color-primary);
}

.input:focus {
	border-color: var(--color-primary);
	box-shadow: var(--shadow-button-default);
	background-color: var(--color-bg-white);
	outline: none;
}

.additionalFields {
	display: flex;
	flex-direction: row;
	column-gap: 1rem;
}

.additionalField {
	flex: 1;
}

@media (min-width: 768px) {
	.mainFields {
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		column-gap: 2rem;
	}

	.fieldGroup {
		flex: 1;
	}

	.inputSmall {
		min-width: 4.1875rem;
	}

	.additionalFields {
		column-gap: 2rem;
	}
}

@media (min-width: 1280px) {
	.title {
		font-size: 2.25rem;
	}

	.formWrapper {
		flex-wrap: nowrap;
		column-gap: 2.5rem;
	}

	.mainFields {
		flex: 1;
	}

	.additionalFields {
		column-gap: 2.5rem;
	}
}
