.container {
	background-color: var(--color-error);
	border-radius: 0.25rem;
	color: var(--color-border-light);
	font-size: 0.75rem;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0.1875rem;
	padding-bottom: 0.1875rem;
	padding-left: 0.375rem;
	padding-right: 0.375rem;
	margin-bottom: 1rem;
	width: 100%;
}
