.priceContainer {
	margin-top: 0.5rem;
	font-size: 0.75rem;
	display: flex;
	gap: 0.5rem;
	align-items: baseline;
}

.priceColumn {
	display: flex;
	flex-direction: column;
}

.discountPrice {
	font-weight: 700;
}

.discountPriceOutOfStock {
	font-weight: 700;
	color: var(--color-text-secondary);
}

.discountLabel {
	color: var(--color-border-input);
}

.regularPrice {
	color: #606060;
}

.regularPriceOutOfStock {
	color: var(--color-text-muted);
	text-decoration: line-through;
}

.regularLabel {
	color: var(--color-border-input);
}

.perUnit {
	color: var(--color-border-input);
}
