.container {
	flex-shrink: 0;
	width: 5rem;
	height: 3.75rem;
	min-width: 5rem;
	min-height: 3.75rem;
	background-color: #f3f4f6;
	border-radius: 0.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow:
		0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	position: relative;
}

.image {
	object-fit: cover;
	border-radius: 0.25rem;
	width: 100%;
	height: 100%;
	flex-shrink: 0;
}
