.label {
	display: flex;
	align-items: center;
	cursor: pointer;
	z-index: 50;
}

.input {
	display: none;
}

.checkbox {
	width: 1.5rem;
	height: 1.5rem;
	border-width: 2px;
	border-radius: 0.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition-duration: 300ms;
	position: absolute;
	top: -0.75rem;
	left: 0.5rem;
	color: var(--color-bg-white);
}

.checkboxSelected {
	background-color: var(--color-primary);
	border-color: var(--color-bg-light);
}

.checkboxUnselected {
	background-color: var(--color-bg-white);
	border-color: var(--color-bg-light);
}
