.buttonSearch {
	background-color: var(--color-primary);
	cursor: pointer;
	border-radius: 0.25rem;
	transition-duration: 300ms;
	display: none;
	width: 2.5rem;
	padding: 0.5rem;
	gap: 1rem;
}

.buttonSearch:hover {
	box-shadow: var(--shadow-button-default);
}

.buttonSearch:active {
	box-shadow: var(--shadow-button-active);
}

.buttonIcon {
	position: relative;
	width: 1.5rem;
	height: 1.5rem;
	display: none;
}

.buttonIconImage {
	object-fit: contain;
}

.buttonText {
	font-size: 1rem;
	color: var(--color-bg-white);
	display: none;
}

@media (min-width: 768px) {
	.buttonSearch {
		display: flex;
	}

	.buttonIcon {
		display: block;
	}
}

@media (min-width: 1024px) {
	.buttonSearch {
		width: 8.75rem;
	}

	.buttonText {
		display: block;
	}
}
