.metaContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.75rem;
}

.date {
	font-size: 0.75rem;
	color: var(--color-text-muted);
	font-weight: 500;
}

.authorContainer {
	display: flex;
	align-items: center;
}

.dot {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 9999px;
	background-color: var(--color-success);
	margin-right: 0.375rem;
}

.author {
	font-size: 0.75rem;
	color: var(--color-text-secondary);
	font-weight: 500;
}
