.imageContainer {
	position: relative;
	width: 100%;
	height: 12rem;
}

.image {
	object-fit: cover;
}

.gradientContainer {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

.textContainer {
	color: var(--color-bg-white);
	text-align: center;
	padding: 1rem;
}

.categoryName {
	color: var(--color-bg-white);
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.25;
	padding: 0 1rem;
}
