.card {
	background-color: var(--color-bg-white);
	height: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 0.5rem;
	overflow: hidden;
	box-shadow: var(--shadow-default);
	transition: all 0.3s;
}

.card:hover {
	box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
	transform: translateY(-2px);
}
