.starsRow {
	display: flex;
	flex-direction: row;
	gap: 0.25rem;
}

.emptyState {
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.emptyRating {
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.emptyText {
	color: var(--color-main-text);
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 1rem;
}

.averageRating {
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: bold;
}

.distribution {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	color: var(--color-main-text);
}

.ratingRow {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.ratingNumber {
	width: 1.25rem;
	font-size: 1rem;
	line-height: 1.5rem;
}

.ratingStars {
	display: flex;
	align-items: center;
}

.ratingCount {
	font-size: 1rem;
	line-height: 1.5rem;
}

@media (min-width: 1280px) {
	.header {
		gap: 1rem;
	}
}
