.container {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titleContainer {
	width: 100%;
	max-width: 328px;
}

.title {
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
	color: var(--color-text-muted-strong);
	text-align: left;
}

.productsGrid {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	justify-content: center;
}

.productCard {
	color: var(--color-main-text);
	font-size: 0.875rem;
	line-height: 1.25rem;
	display: flex;
	flex-direction: column;
	width: 78px;
	height: 62px;
	border-radius: 0.375rem;
	background-color: var(--color-bg-white);
	cursor: pointer;
	transition-duration: 300ms;
	text-decoration: none;
}

.productCard:hover {
	box-shadow:
		0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.productCard {
	box-shadow:
		0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.imageContainer {
	position: relative;
	width: 100%;
	height: 25px;
	flex-shrink: 0;
}

.image {
	object-fit: contain;
	border-radius: 0.375rem;
}

.price {
	display: flex;
	align-items: center;
	font-weight: bold;
	padding: 0.5rem;
}

@media (min-width: 768px) {
	.titleContainer {
		max-width: 688px;
	}

	.title {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}

	.productsGrid {
		gap: 1rem;
	}

	.productCard {
		font-size: 1.125rem;
		line-height: 1.75rem;
		width: 172px;
		height: 158px;
	}

	.imageContainer {
		height: 111px;
	}

	.price {
		padding: 0.625rem;
	}
}

@media (min-width: 1280px) {
	.titleContainer {
		max-width: 168px;
	}

	.productsGrid {
		flex-direction: column;
		justify-content: flex-start;
	}

	.productCard {
		width: 168px;
		height: 104px;
	}

	.imageContainer {
		height: 57px;
	}
}
