.slider {
	position: relative;
	height: 5rem;
	width: 100%;
	margin-bottom: 2.5rem;
}

.slideItem {
	position: absolute;
	width: 100%;
	height: 100%;
}

@media (min-width: 768px) {
	.slider {
		height: 10rem;
		margin-bottom: 3.75rem;
	}
}

@media (min-width: 1280px) {
	.slider {
		height: 12.5rem;
		margin-bottom: 5rem;
	}
}
