.articleSection {
	display: flex;
	flex-direction: column;
	padding-left: max(calc((100% - 1208px) / 2));
	padding-right: max(calc((100% - 1208px) / 2));
}

.articleHeader {
	margin-bottom: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.articleTitle {
	font-size: 1.5rem;
	text-align: left;
	font-weight: 700;
	color: var(--color-main-text);
}

.articlesGrid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 1.5rem;
}

.articleItem {
	height: 18.75rem;
}

@media (min-width: 640px) {
	.articlesGrid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 768px) {
	.articleHeader {
		margin-bottom: 2rem;
	}

	.articleItem {
		height: 26.25rem;
	}
}

@media (min-width: 1280px) {
	.articleHeader {
		margin-bottom: 2.5rem;
	}

	.articleTitle {
		font-size: 2.25rem;
	}
}
