.articleCard {
	background-color: var(--color-bg-white);
	height: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 0.25rem;
	overflow: hidden;
	box-shadow: var(--shadow-article);
	transition-duration: 300ms;
}

.articleCard:hover {
	box-shadow: var(--shadow-article);
}

.articleImageContainer {
	position: relative;
	height: 12rem;
	width: 100%;
}

.articleImage {
	object-fit: cover;
}

.articleContent {
	padding: 0.625rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
	line-height: 1.5;
}

.articleDate {
	font-size: 0.5rem;
	color: var(--color-text-placeholder);
}

.articleTitle {
	color: var(--color-main-text);
	font-size: 1rem;
	font-weight: 700;
}

.articleText {
	color: var(--color-main-text);
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-size: 0.75rem;
}

.readMoreButton {
	border-radius: 0.25rem;
	margin-top: auto;
	width: 9.375rem;
	height: 2.5rem;
	background-color: #e5ffde;
	font-size: 1rem;
	color: var(--color-primary);
	transition-duration: 300ms;
	cursor: pointer;
	border: none;
}

.readMoreButton:hover {
	background-color: var(--color-primary);
	box-shadow: var(--shadow-button-default);
	color: var(--color-bg-white);
}

.readMoreButton:active {
	box-shadow: var(--shadow-button-active);
}

@media (min-width: 1280px) {
	.articleTitle {
		font-size: 1.125rem;
	}

	.articleText {
		font-size: 1rem;
	}
}
