.slideTwo {
	margin-bottom: 2.5rem;
	height: 5rem;
	width: 100%;
	position: relative;
}

.slideTwoImage {
	object-fit: cover;
}

@media (min-width: 768px) {
	.slideTwo {
		margin-bottom: 3.75rem;
		height: 10rem;
	}
}

@media (min-width: 1280px) {
	.slideTwo {
		margin-bottom: 5rem;
		height: 12.5rem;
	}
}
