.successContainer {
	padding: 2rem;
	text-align: center;
}

.successIcon {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 4rem;
	width: 4rem;
	border-radius: 9999px;
	background-color: var(--color-primary);
	margin-bottom: 1.5rem;
}

.icon {
	height: 2.5rem;
	width: 2.5rem;
	color: #ffffff;
}

.title {
	font-size: 1.5rem;
	font-weight: 700;
	color: --color-main-text;
	margin-bottom: 0.5rem;
}

.message {
	color: #6b7280;
	margin-bottom: 1.5rem;
}

.actions {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.loginButton {
	width: 16.25rem;
	height: 2.5rem;
	border-radius: 0.25rem;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition-duration: 300ms;
	cursor: pointer;
	border: 1px solid var(--color-primary);
	color: #ffffff;
	background-color: #ff6633;
	margin-left: auto;
	margin-right: auto;
	padding: 0.5rem 1rem;
}

.loginButton:hover {
	box-shadow: var(--shadow-article);
}

.loginButton:active {
	box-shadow: var(--shadow-button-active);
}

.timer {
	font-size: 0.875rem;
	color: #6b7280;
}

.footer {
	background-color: #f9fafb;
	padding: 1rem 2rem;
	border-top: 1px solid #e5e7eb;
}

.footerText {
	font-size: 0.75rem;
	color: #6b7280;
	text-align: center;
}

.supportLink {
	color: #ff6633;
	text-decoration: none;
}

.supportLink:hover {
	text-decoration: underline;
}
