.inStockToggle {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.toggleLabel {
	position: relative;
	display: inline-flex;
	align-items: center;
	cursor: pointer;
}

.toggleInput {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.toggleTrack {
	width: 46px;
	height: 1.5rem;
	background-color: var(--color-border-light);
	border-radius: 9999px;
	transition: background-color 0.2s;
}

.toggleInput:checked + .toggleTrack {
	background-color: var(--color-primary);
}

.toggleThumb {
	position: absolute;
	top: 0.125rem;
	left: 0;
	width: 1.25rem;
	height: 1.25rem;
	border: 0.5px solid rgba(0, 0, 0, 0.04);
	border-radius: 50%;
	box-shadow:
		0px 1px 1px rgba(0, 0, 0, 0.08),
		0px 2px 6px rgba(0, 0, 0, 0.15);
	background-color: var(--color-bg-white);
	transition: transform 0.3s;
}

.toggleInput:checked + .toggleTrack + .toggleThumb {
	transform: translateX(1.5rem);
}

.toggleText {
	margin-left: 0.5rem;
	font-size: 0.875rem;
	color: var(--color-main-text);
}
