.form {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	color: var(--color-main-text);
}

.applyButton {
	background-color: #ff6633;
	color: white;
	height: 2.5rem;
	border-radius: 0.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-duration: 300ms;
	cursor: pointer;
	border: none;
}

.applyButton:hover {
	box-shadow:
		0 10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.applyButton:active {
	box-shadow:
		0 20px 25px -5px rgb(0 0 0 / 0.1),
		0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.applyButtonWithVars:hover {
	box-shadow: var(--shadow-article);
}

.applyButtonWithVars:active {
	box-shadow: var(--shadow-button-active);
}
