.mainTitle {
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
	margin-bottom: 2.5rem;
}

.sectionTitle {
	font-size: 1.125rem;
	font-weight: 700;
	text-align: center;
	margin-bottom: 1.5rem;
}

.form {
	width: 100%;
	max-width: 552px;
	margin-left: auto;
	margin-right: auto;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow-y: auto;
}

.formRow {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem 1rem;
}

.formColumn {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: flex-start;
}

.optionalSection {
	margin-top: 2.5rem;
}

.optionalFormRow {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2rem 1rem;
}

.cardColumn {
	display: flex;
	flex-direction: column;
	width: 16.25rem;
	gap: 1rem;
}

.errorMessage {
	color: #ef4444;
	text-align: center;
	margin: 1rem 0;
	padding: 1rem;
	background-color: #fef2f2;
	border-radius: 0.25rem;
}
