.registerPage {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fcd5bacc;
	min-height: 100vh;
	color: #414141;
}

.registerContainer {
	background-color: #ffffff;
	border-radius: 0.25rem;
	box-shadow: var(--shadow-auth-form);
	width: 100%;
	max-width: 687px;
	max-height: 100vh;
	overflow-y: auto;
}

.closeButtonContainer {
	display: flex;
	justify-content: flex-end;
}

.closeButton {
	background-color: #f3f2f1;
	border-radius: 0.25rem;
	transition-duration: 300ms;
	cursor: pointer;
	margin-bottom: 2rem;
	border: none;
}

.title {
	font-size: 1.5rem;
	font-weight: 700;
	text-align: center;
	margin-bottom: 2.5rem;
}

.subtitle {
	font-size: 1.125rem;
	font-weight: 700;
	text-align: center;
	margin-bottom: 1.5rem;
}

.form {
	width: 100%;
	max-width: 552px;
	margin-left: auto;
	margin-right: auto;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow-y: auto;
}

.formContent {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem 2rem;
}

.formColumn {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: flex-start;
}
