.breadcrumbs {
	padding-left: max(16px, calc((100% - 1208px) / 2));
	padding-right: max(16px, calc((100% - 1208px) / 2));
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.list {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 0.5rem;
	line-height: 1rem;
}

.listItem {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.lastItem {
	color: var(--color-text-placeholder);
}

.linkItem {
	color: var(--color-main-text);
}

.linkItem:hover {
	text-decoration: underline;
	cursor: pointer;
}

.link {
	text-decoration: none;
	color: inherit;
}

.icon {
	width: 1.5rem;
	height: 1.5rem;
	flex-shrink: 0;
}

.skeletonContainer {
	padding-left: max(12px, calc((100% - 1208px) / 2));
	padding-right: max(12px, calc((100% - 1208px) / 2));
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.skeletonItem {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.skeletonText {
	height: 1rem;
	background-color: var(--color-border-light);
	border-radius: 0.25rem;
	width: 5rem;
	animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@media (min-width: 768px) {
	.breadcrumbs {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.list {
		font-size: 0.75rem;
		line-height: 1rem;
	}
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}
