.inputBlock {
	position: relative;
	min-width: 261px;
	flex-grow: 1;
}

.searchContainer {
	position: relative;
	border-radius: 0.25rem;
	border: 1px solid var(--color-primary);
	box-shadow: var(--shadow-button-default);
	line-height: 150%;
}

.searchInput {
	width: 100%;
	height: 2.5rem;
	padding: 0.5rem;
	outline: none;
	color: #8f8f8f;
	font-size: 1rem;
	border: none;
}

.searchButton {
	position: absolute;
	right: 0rem;
	width: 2.5rem;
	height: 2.5rem;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

.dropdown {
	position: absolute;
	margin-top: -0.125rem;
	left: 0;
	right: 0;
	z-index: 100;
	max-height: 300px;
	overflow-y: auto;
	background-color: #ffffff;
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	border: 1px solid var(--color-primary);
	border-top: 0;
	box-shadow: inherit;
	word-wrap: break-word;
}

.dropdownContent {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.categoryGroup {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.categoryLink {
	display: flex;
	align-items: flex-start;
	gap: 1rem;
	padding: 0.25rem;
	border-radius: 0.25rem;
	cursor: pointer;
}

.categoryLink:hover {
	background-color: #f3f4f6;
}

.productsList {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.productItem {
	padding: 0.25rem;
}

.productItem:hover {
	background-color: #f3f4f6;
}

.productLink {
	cursor: pointer;
}

.noResults {
	color: #8f8f8f;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.placeholder {
	padding: 1rem;
	color: #8f8f8f;
}

.loading {
	padding: 1rem;
	text-align: center;
}
