.container {
	position: relative;
	min-width: 261px;
	flex-grow: 1;
}

.input {
	width: 100%;
	height: 2.5rem;
	border-radius: 0.25rem;
	padding: 0.5rem;
	outline: 1px solid var(--color-primary);
	border: none;
	color: #8f8f8f;
	font-size: 1rem;
	line-height: 150%;
	font-family: inherit;
}

.input:focus {
	box-shadow: var(--shadow-button-default);
	outline: 1px solid var(--color-primary);
}

.searchButton {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	cursor: pointer;
	background: none;
	border: none;
	padding: 0;
	font: inherit;
}
