@import "../styles/normalize.css";

:root {
	--font-sans: var(--font-rubik);

	--color-primary: #70c05b;
	--color-accent: #ff6633;

	--color-main-text: #414141;

	--color-bg-light: #f3f2f1;
	--color-bg-white: #ffffff;

	--color-text-secondary: #6b7280;
	--color-text-muted: #9ca3af;
	--color-text-placeholder: #8f8f8f;
	--color-text-hover: #4b5563;

	--color-border-default: #d1d5db;
	--color-border-light: #e5e7eb;
	--color-border-input: #bfbfbf;

	--color-success: #008c48;
	--color-success-bg: #f0fdf4;

	--color-error: #d80000;
	--color-error-light: #ef4444;
	--color-error-bg: #ffc7c7;

	--color-warning-bg: #fcd5ba;
	--color-warning-border: #fde68a;

	--shadow-default: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);

	--shadow-button-default: 4px 8px 16px 0px rgba(112, 192, 91, 0.2);
	--shadow-button-secondary: 4px 8px 16px 0px rgba(0, 0, 0, 0.1);
	--shadow-button-active: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2);

	--shadow-article: 4px 8px 16px 0px rgba(255, 102, 51, 0.2);

	--shadow-category-block: 1px 2px 4px 0px rgba(112, 192, 91, 0.2);
	--shadow-catalog-menu: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
}

body {
	background-color: #fbf8ec;
	color: var(--color-main-text);
	font-family: var(--font-rubik), sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

* {
	box-sizing: border-box;
	text-decoration: none;
	color: inherit;
}

.no-ymaps-copyright [class*="copyrights-pane"] {
	visibility: hidden;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

@keyframes progress {
	0% {
		width: 0%;
	}
	50% {
		width: 100%;
	}
	100% {
		width: 0%;
	}
}

.animate-spin {
	animation: spin 1s linear infinite;
}

.animate-progress {
	animation: progress 2s ease-in-out infinite;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-5px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
.animate-fadeIn {
	animation: fadeIn 0.2s ease-out forwards;
}

@keyframes progress {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
