:root {
	--font-sans: var(--font-rubik);
	--color-primary: #70c05b;
	--shadow-default: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
	--shadow-button-default: 4px 8px 16px 0px rgba(112, 192, 91, 0.2);
	--shadow-button-active: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
}

body {
	background-color: #fbf8ec;
	color: var(--foreground);
	font-family: var(--font-rubik), sans-serif;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}
