:root {
	--font-sans: var(--font-rubik);
	--color-primary: #70c05b;
	--color-title: #414141;
	--shadow-default: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
	--shadow-button-default: 4px 8px 16px 0px rgba(112, 192, 91, 0.2);
	--shadow-button-secondary: 4px 8px 16px 0px rgba(0, 0, 0, 0.1);
	--shadow-button-active: inset 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
	--shadow-article: 4px 8px 16px 0px rgba(255, 102, 51, 0.2);
	--shadow-card-shop: 4px 8px 16px 0px rgba(255, 102, 51, 0.2);
}

body {
	background-color: #fbf8ec;
	color: var(--foreground);
	font-family: var(--font-rubik), sans-serif;
}

* {
	box-sizing: border-box;
}

.no-ymaps-copyright [class*="copyrights-pane"] {
	visibility: hidden;
}
