.main {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.components {
	padding-left: max(12px, calc((100% - 1208px) / 2));
	padding-right: max(12px, calc((100% - 1208px) / 2));
	display: flex;
	flex-direction: column;
	gap: 5rem;
}
