.button {
	position: absolute;
	bottom: 0.5rem;
	left: 0.5rem;
	right: 0.5rem;
	border: 1px solid var(--color-primary);
	height: 2.5rem;
	border-radius: 0.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-primary);
	cursor: pointer;
	transition: all 300ms;
	user-select: none;
	background-color: transparent;
}

.button:hover {
	color: var(--color-bg-white);
	background-color: var(--color-accent);
	border-color: transparent;
}

.button:active {
	box-shadow: var(--shadow-button-active);
}

.button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.quantityContainer {
	position: absolute;
	display: flex;
	justify-content: center;
	bottom: 0.5rem;
	left: 0.5rem;
	right: 0.5rem;
}
