.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 1rem;
	color: var(--color-main-text);
	margin-left: auto;
	margin-right: auto;
}

.backLink {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.75rem;
	margin-bottom: 0.75rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	text-decoration: none;
}

.backLink:hover {
	text-decoration: underline;
}

.backIcon {
	height: 1rem;
	width: 1rem;
	margin-left: 0.25rem;
}

@media (min-width: 1024px) {
	.backLink {
		margin-bottom: 1rem;
		font-size: 1rem;
		line-height: 1.5rem;
	}
}

.title {
	font-size: 1.875rem;
	line-height: 2.25rem;
	font-weight: 700;
	margin-bottom: 2rem;
}
