.miniLoader {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.loaderDots {
	display: flex;
	gap: 0.5rem;
}

.loaderDot {
	width: 0.5rem;
	height: 0.5rem;
	background-color: #9ca3af;
	border-radius: 50%;
	animation: bounce 1.4s infinite ease-in-out;
}

.dot1 {
	animation-delay: 0ms;
}

.dot2 {
	animation-delay: 150ms;
}

.dot3 {
	animation-delay: 300ms;
}

@keyframes bounce {
	0%,
	80%,
	100% {
		transform: scale(0);
	}
	40% {
		transform: scale(1);
	}
}
