.profile {
	margin-left: 1.5rem;
	padding: 0.5rem;
	display: flex;
	flex: 1;
	justify-content: flex-end;
	align-items: center;
	gap: 0.625rem;
}

.loginButton {
	width: 2.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem;
	border-radius: 0.25rem;
	color: #ffffff;
	font-size: 1rem;
	background-color: #ff6633;
	transition-duration: 300ms;
	text-decoration: none;
	margin-left: 2rem;
}

.loginButton:hover {
	box-shadow: var(--shadow-article);
}

.loginButton:active {
	box-shadow: var(--shadow-button-active);
}

.loginText {
	width: 6.8125rem;
	justify-content: center;
	display: none;
}

.avatar {
	min-width: 2.5rem;
	min-height: 2.5rem;
}

.userName {
	display: none;
	cursor: pointer;
	padding: 0.625rem;
}

.arrowButton {
	display: none;
	cursor: pointer;
	padding: 0.5rem;
}

@media (min-width: 1280px) {
	.loginButton {
		width: 9.8125rem;
	}

	.loginText {
		display: flex;
	}

	.userName {
		display: block;
	}

	.arrowButton {
		display: block;
	}
}
