.profile {
	margin-left: 1.5rem;
	padding: 0.5rem;
	display: flex;
	flex: 1;
	justify-content: flex-end;
	align-items: center;
	gap: 0.625rem;
}

.avatar {
	min-width: 2.5rem;
	min-height: 2.5rem;
}

.name {
	display: none;
	cursor: pointer;
	padding: 0.625rem;
}

.arrowButton {
	display: none;
	cursor: pointer;
	padding: 0.5rem;
	background: none;
	border: none;
}

@media (min-width: 1280px) {
	.name {
		display: block;
	}

	.arrowButton {
		display: block;
	}
}
