.container {
	font-size: 0.75rem;
	line-height: 1rem;
	border-bottom: 1px solid var(--color-border-default);
	order: 3;
}

.ageText {
	display: none;
	margin-left: 0.25rem;
}

@media (max-width: 767px) {
	.ageText {
		display: inline;
	}
}

@media (min-width: 768px) {
	.container {
		border-bottom: none;
	}
}
