.container {
	border-bottom: 1px solid var(--color-border-default);
	order: 4;
	gap: 0.5rem;
	display: flex;
	flex-direction: column;
}

.emailLabel {
	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: 600;
}

.emailText {
	font-size: 0.75rem;
	line-height: 1rem;
	word-break: break-all;
	display: flex;
	align-items: center;
}

.emailVerified {
	color: var(--color-success);
}

.emailNotVerified {
	color: var(--color-error);
}

.temporaryEmail {
	font-size: 0.875rem;
	line-height: 1.25rem;
	display: flex;
	align-items: center;
}

@media (max-width: 767px) {
	.emailLabel {
		display: flex;
	}
}

@media (min-width: 768px) {
	.container {
		border-bottom: 0;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.emailLabel {
		display: none;
	}

	.temporaryEmail {
		font-size: 0.875rem;
		line-height: 1.25rem;
	}
}
