.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
	padding: 1rem;
	border-top: 1px solid var(--color-border-default);
}

.buttonsContainer {
	display: flex;
	gap: 0.5rem;
}

.navButton {
	padding: 0.25rem 0.75rem;
	border: 1px solid var(--color-border-default);
	border-radius: 0.25rem;
	transition-duration: 300ms;
	cursor: pointer;
}

.navButton:hover:not(:disabled) {
	background-color: #f9fafb;
}

.navButton:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.pageButton {
	padding: 0.5rem;
	width: 2.5rem;
	transition-duration: 300ms;
	cursor: pointer;
	border-radius: 0.25rem;
	border: none;
}

.pageButton:hover {
	background-color: var(--color-accent);
	color: var(--color-bg-white);
}

.buttonBase {
	width: 16.25rem;
	height: 4.25rem;
	margin: 2.5rem auto;
	font-size: 1.5rem;
	line-height: 2rem;
	border-radius: 0.25rem;
	cursor: pointer;
	transition-duration: 300ms;
}

.buttonActive {
	background-color: var(--color-accent);
	color: var(--color-bg-white);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.25rem;
	cursor: pointer;
	transition-duration: 300ms;
	box-shadow:
		0 4px 6px -1px rgb(0 0 0 / 0.1),
		0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.buttonActive:active {
	box-shadow:
		0 10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.buttonInactive {
	background-color: var(--color-warning-bg);
	color: var(--color-accent);
	border-radius: 0.25rem;
}
