.container {
	border-bottom: 1px solid var(--color-border-default);
	order: 5;
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.label {
	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: 600;
}

.phoneNumber {
	font-size: 0.75rem;
	line-height: 1rem;
}

.phoneVerified {
	color: var(--color-success);
}

.phoneNotVerified {
	color: var(--color-error);
}

@media (min-width: 768px) {
	.container {
		border-bottom: 0;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding-right: 0.5rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		border-right: 1px solid var(--color-border-default);
		border-radius: 0.25rem;
	}

	.label {
		display: none;
	}
}
