.container {
	border-bottom: 1px solid var(--color-border-default);
	order: 7;
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	border-right: 1px solid var(--color-border-default);
}

.label {
	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: 600;
}

.date {
	font-size: 0.75rem;
	line-height: 1rem;
}

.time {
	font-size: 0.75rem;
	line-height: 1rem;
	color: var(--color-text-muted);
}

@media (min-width: 768px) {
	.container {
		border-bottom: 0;
		border-right: 0;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding-right: 0.5rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		border-radius: 0.25rem;
	}

	.label {
		display: none;
	}
}
