.container {
	border-bottom: 1px solid var(--color-border-default);
	order: 6;
	display: flex;
	flex-direction: row;
	gap: 0.75rem;
}

.label {
	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: 600;
}

.loadingText {
	font-size: 0.75rem;
	line-height: 1rem;
	color: var(--color-text-secondary);
}

.roleBadge {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 2rem;
	border-radius: 0.25rem;
	font-weight: 500;
	padding: 0.5rem 0.75rem;
	font-size: 0.75rem;
	line-height: 1rem;
	width: 8.75rem;
}

.roleSelect {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 2rem;
	width: 8.75rem;
	border-radius: 0.25rem;
	padding: 0.5rem 0.75rem;
	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: 500;
	cursor: pointer;
	outline: none;
	border: none;
}

.roleSelect:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

@media (min-width: 768px) {
	.container {
		border-bottom: 0;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding-right: 0.5rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		border-right: 1px solid var(--color-border-default);
		border-radius: 0.25rem;
	}

	.label {
		display: none;
	}

	.roleBadge {
		flex: 1;
		width: 7.5rem;
		padding: 0.5rem 0.25rem;
		font-size: 0.625rem;
		line-height: 0.75rem;
	}

	.roleSelect {
		flex: 1;
		width: 7.5rem;
		padding: 0.5rem 0.25rem;
		font-size: 0.625rem;
		line-height: 0.75rem;
	}
}

@media (min-width: 1024px) {
	.roleBadge {
		padding: 0.5rem 0.75rem;
		font-size: 0.75rem;
		line-height: 1rem;
	}

	.roleSelect {
		padding: 0.5rem 0.75rem;
		font-size: 0.75rem;
		line-height: 1rem;
	}
}
