.container {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	gap: 0.25rem;
	padding: 0.75rem 0.75rem 0.25rem 0.75rem;
	transition-duration: 300ms;
	border-radius: 0.25rem;
}

.container:hover {
	background-color: #f9fafb;
	box-shadow:
		0 10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);
}

@media (min-width: 768px) {
	.container {
		grid-template-columns: repeat(12, minmax(0, 1fr));
		gap: 0.5rem;
		padding: 0.75rem;
	}
}
