.container {
	background-color: white;
	border-radius: 0.5rem;
	box-shadow:
		0 10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);
	border: 1px solid #e5e7eb;
	overflow: hidden;
	margin-top: 1rem;
}

.usersList {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	border-bottom: 1px solid #e5e7eb;
	padding-bottom: 0.75rem;
}

.divider {
	border-bottom: 1px solid #e5e7eb;
}
