.container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.icon {
	width: 3rem;
	height: 3rem;
	color: var(--color-primary);
	margin-bottom: 1rem;
}

.title {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}

.description {
	color: #374151;
	line-height: 1.5;
}

.error {
	padding: 1.25rem;
	background-color: #fef2f2;
	color: #dc2626;
	border-radius: 4px;
}

.form {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.label {
	font-size: 1rem;
	color: #8f8f8f;
	display: block;
	text-align: left;
}

.input {
	width: 260px;
	height: 2.5rem;
	padding: 0.5rem 1rem;
	color: #414141;
	font-size: 1rem;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	caret-color: var(--color-primary);
}

.input:focus {
	border-color: #70c05b;
	box-shadow: var(--shadow-button-default);
	background-color: white;
	outline: none;
}

.button {
	width: 100%;
	height: 2.5rem;
	margin-top: 2rem;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.2s;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.buttonActive {
	background-color: #ff6633;
	color: white;
}

.buttonActive:hover {
	box-shadow: var(--shadow-article);
}

.buttonActive:active {
	box-shadow: var(--shadow-button-active);
}

.buttonInactive {
	background-color: #fcd5ba;
	color: #ff6633;
}

.loading {
	background-color: #fcd5ba !important;
}

.loader {
	animation: spin 1s linear infinite;
	width: 1rem;
	height: 1rem;
}

.buttonIcon {
	width: 1rem;
	height: 1rem;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
