.specialOffers {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	justify-content: space-between;
	color: #414141;
}

.specialOffersContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-left: auto;
	margin-right: auto;
}

.specialOffersTitle {
	font-size: 1.5rem;
	text-align: left;
	font-weight: 700;
	margin-bottom: 1rem;
}

.offersContent {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

.cardBanner {
	text-align: left;
	display: flex;
	flex-direction: row;
	padding-top: 1.25rem;
	padding-left: 1.25rem;
	border-radius: 0.25rem;
	background-color: #fcd5ba;
	width: 336px;
	height: 170px;
	transition-duration: 300ms;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	border: none;
}

.cardBanner:hover {
	box-shadow: var(--shadow-card-shop);
}

.cardBannerContent {
	display: flex;
	flex-direction: column;
	gap: 0.375rem;
	width: 174px;
}

.cardBannerTitle {
	font-size: 1.25rem;
	font-weight: 700;
}

.cardBannerText {
	font-size: 0.75rem;
}

.cardBannerImage {
	position: absolute;
	top: -0.75rem;
	right: -4.625rem;
}

.actionBanner {
	position: relative;
	width: 100%;
	height: 170px;
	border-radius: 0.25rem;
	overflow: hidden;
	cursor: pointer;
	transition-duration: 300ms;
	border: none;
	padding: 0;
}

.actionBanner:hover {
	box-shadow: var(--shadow-button-default);
}

.mobTabBanner {
	width: 100%;
	height: 100%;
}

.deskBanner {
	display: none;
	width: 100%;
	height: 100%;
}

.bannerImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.25rem;
}

@media (min-width: 768px) {
	.specialOffers {
		margin-bottom: 2rem;
	}

	.specialOffersContainer {
		width: 737px;
	}

	.specialOffersTitle {
		margin-bottom: 2rem;
	}

	.offersContent {
		flex-direction: row;
		gap: 1rem;
	}

	.cardBanner {
		width: 352px;
	}

	.actionBanner {
		width: 353px;
	}
}

@media (min-width: 1280px) {
	.specialOffers {
		margin-bottom: 2.5rem;
	}

	.specialOffersContainer {
		width: 100%;
	}

	.specialOffersTitle {
		font-size: 2.25rem;
	}

	.offersContent {
		width: auto;
	}

	.cardBanner {
		width: 584px;
		height: 12.5rem;
	}

	.cardBannerContent {
		width: 258px;
	}

	.cardBannerTitle {
		font-size: 1.5rem;
	}

	.cardBannerText {
		font-size: 1rem;
	}

	.cardBannerImage {
		right: -1rem;
		top: -2rem;
		width: 330px;
		height: auto;
	}

	.actionBanner {
		width: 584px;
		height: 200px;
	}

	.mobTabBanner {
		display: none;
	}

	.deskBanner {
		display: block;
	}
}
