.container {
	margin-bottom: 2rem;
	background-color: var(--color-bg-white);
	border-radius: 0.25rem;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	padding: 1.5rem;
}

.title {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
