.controlsContainer {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.filterButton {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem 1rem;
	border: 1px solid var(--color-border-input);
	border-radius: 0.375rem;
	cursor: pointer;
	transition: all 0.3s;
}

.filterButton:hover {
	background-color: var(--color-bg-light);
}

.filterButtonActive {
	background-color: var(--color-bg-light);
}

.filterButtonText {
	display: none;
}

@media (min-width: 640px) {
	.filterButtonText {
		display: inline;
	}
}

.filterIcon {
	width: 1rem;
	height: 1rem;
}

.resetButton {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem 1rem;
	border: 1px solid var(--color-border-input);
	border-radius: 0.375rem;
	cursor: pointer;
	transition: all 0.3s;
}

.resetButton:hover {
	background-color: var(--color-bg-light);
}

.resetButtonText {
	display: none;
}

@media (min-width: 640px) {
	.resetButtonText {
		display: inline;
	}
}

.resetIcon {
	width: 1rem;
	height: 1rem;
}
