.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.createButton {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: #16a34a;
	color: var(--color-bg-white);
	border-radius: 0.25rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border: none;
}

.createButton:hover {
	background-color: #15803d;
}

.createButton:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.buttonIcon {
	width: 1.25rem;
	height: 1.25rem;
}
