.container {
	margin-bottom: 1.5rem;
	background-color: var(--color-bg-light);
	padding: 1rem;
	border-radius: 0.25rem;
	border: 1px solid var(--color-border-light);
}

.title {
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 500;
	margin-bottom: 1rem;
}
