.container {
	flex: 1;
	min-width: 0;
}

.header {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 0.25rem;
}

.orderNumber {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 2rem;
	background-color: var(--color-bg-light);
	border-radius: 9999px;
	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: 500;
	flex-shrink: 0;
}

.title {
	font-weight: 500;
	color: var(--color-bg-dark);
	font-size: 1.125rem;
	line-height: 1.75rem;
	word-break: break-word;
}

.meta {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5rem;
	margin-top: 0.5rem;
}

.slug {
	font-size: 0.75rem;
	line-height: 1rem;
	background-color: var(--color-bg-light);
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	border-radius: 0.25rem;
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
	word-break: break-all;
}

.date {
	font-size: 0.75rem;
	line-height: 1rem;
	color: var(--color-text-secondary);
	flex-shrink: 0;
}
