.container {
	margin-bottom: 1rem;
	padding: 1rem;
	border-radius: 0.25rem;
	position: absolute;
	top: 2.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.containerSuccess {
	background-color: #f0fdf4;
	color: #166534;
	border: 1px solid #bbf7d0;
}

.containerError {
	background-color: #fef2f2;
	color: #991b1b;
	border: 1px solid #fecaca;
}

.messageContainer {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.closeButton {
	margin-left: 1rem;
	color: var(--color-text-secondary);
	cursor: pointer;
	transition: color 0.3s ease;
}

.closeButton:hover {
	color: var(--color-text-hover);
}

.closeIcon {
	width: 1.25rem;
	height: 1.25rem;
}
