.notification {
	margin-bottom: 1rem;
	padding: 1rem;
	border-radius: 0.375rem;
	position: absolute;
	top: 2.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 50;
	border: none;
}

.notificationSuccess {
	background-color: var(--color-success-bg);
	color: var(--color-success);
	border: 1px solid var(--color-success);
}

.notificationError {
	background-color: var(--color-error-bg);
	color: var(--color-error);
	border: 1px solid var(--color-error);
}

.content {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.closeButton {
	margin-left: 1rem;
	color: var(--color-text-muted);
	cursor: pointer;
	transition: color 0.3s;
	border: none;
	background: none;
}

.closeButton:hover {
	color: var(--color-text-hover);
}

.closeIcon {
	width: 1.25rem;
	height: 1.25rem;
}
