.container {
	border: 1px solid var(--color-border-light);
}

.grid {
	display: grid;
	grid-template-columns: 0.3fr 0.5fr 1fr 2fr 2fr 2fr 2fr 1fr 1fr 2fr;
	gap: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: var(--color-bg-light);
	border-bottom: 1px solid var(--color-border-light);
}

.headerCell {
	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: 500;
	color: var(--color-text-secondary);
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.sortableCell {
	cursor: pointer;
	transition: color 0.2s ease;
	display: flex;
	align-items: center;
}

.sortableCell:hover {
	color: var(--color-text-hover);
}

.centerContent {
	justify-content: center;
}

.icon {
	width: 1rem;
	height: 1rem;
}
