.pending {
	background-color: var(--color-bg-light);
	color: var(--color-main-text);
}

.confirmed {
	background-color: var(--color-bg-light);
	color: var(--color-main-text);
}

.delivered {
	background-color: var(--color-primary);
	color: var(--color-bg-white);
}

.cancelled {
	background-color: var(--color-error);
	color: var(--color-bg-white);
}

.default {
	background-color: #f3f4f6;
	color: #1f2937;
}
