.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	margin-bottom: 2.5rem;
}

.filterLink {
	height: 2rem;
	padding: 0.5rem;
	border-radius: 0.25rem;
	font-size: 0.75rem;
	line-height: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-duration: 300ms;
	cursor: pointer;
	text-decoration: none;
}

.filterLinkActive {
	background-color: var(--color-primary);
	color: var(--color-bg-white);
}

.filterLinkActive:hover {
	box-shadow:
		0 4px 6px -1px rgb(0 0 0 / 0.1),
		0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.filterLinkActive:active {
	box-shadow:
		0 10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.filterLinkInactive {
	background-color: var(--color-bg-light);
	color: var(--color-text-muted-strong);
}

.filterLinkInactive:hover {
	box-shadow:
		0 1px 3px 0 rgb(0 0 0 / 0.1),
		0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.filterLinkInactive:active {
	box-shadow:
		0 10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.skeletonContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	margin-bottom: 2.5rem;
}

.skeletonFilter {
	height: 2rem;
	padding: 0.5rem;
	border-radius: 0.25rem;
	font-size: 0.75rem;
	line-height: 1rem;
	background-color: var(--color-bg-light);
	color: var(--color-text-muted-strong);
	animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}
