.form {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	color: var(--color-main-text);
}

.applyButton {
	background-color: #ff6633;
	color: white;
	height: 2.5rem;
	border-radius: 0.25rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-duration: 300ms;
	cursor: pointer;
	border: none;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 500;
}

.applyButtonWithVars:hover {
	box-shadow: var(--shadow-article);
}

.applyButtonWithVars:active {
	box-shadow: var(--shadow-button-active);
}
