.label {
	font-size: 1rem;
	color: #8f8f8f;
	display: block;
}

.input {
	width: 16.25rem;
	height: 2.5rem;
	padding: 0.5rem 1rem;
	color: #414141;
	font-size: 1rem;
	border: 1px solid #bfbfbf;
	border-radius: 0.25rem;
	caret-color: var(--color-primary);
	appearance: none;
	padding-right: 2rem;
	cursor: pointer;
}

.input:focus {
	border-color: #70c05b;
	box-shadow: var(--shadow-button-default);
	background-color: #ffffff;
	outline: none;
}

.selectContainer {
	position: relative;
}

.arrowIcon {
	position: absolute;
	right: 0.5rem;
	top: 50%;
	transform: translateY(-50%) rotate(90deg);
	pointer-events: none;
}
