.container {
	opacity: 0;
	transform: translateX(-0.5rem);
	transition: all 0.5s ease;
}

.menuItem:hover .container {
	opacity: 1;
	transform: translateX(0);
}

.arrowIcon {
	width: 1.25rem;
	height: 1.25rem;
	color: var(--color-text-muted);
	transition: color 0.5s ease;
}

.menuItem:hover .arrowIcon {
	color: var(--color-text-secondary);
}
