.footer {
	background-color: #f9f4e2;
	margin-top: 2.5rem;
	background-image: url("/images/graphics/pattern-footer.png");
	padding-left: max(12px, calc((100% - 1208px) / 2));
	padding-right: max(12px, calc((100% - 1208px) / 2));
	width: 100%;
}

.footerContent {
	padding: 1.75rem 1.75rem 1rem 1.75rem;
	color: var(--color-main-text);
	display: grid;
	grid-template-areas:
		"logo social"
		"logo phone"
		"nav nav"
		"design design";
	grid-template-columns: 1fr 1fr;
	gap: 1.5rem;
	align-items: center;
}

.logo {
	grid-area: logo;
}

.logoLink {
	position: relative;
	width: 5.75rem;
	height: 4rem;
	display: block;
}

.social {
	grid-area: social;
	justify-self: end;
	display: flex;
	flex-direction: row;
	gap: 1.25rem;
}

.socialLinks {
	display: flex;
	gap: 1.25rem;
	align-items: flex-start;
}

.socialIcon {
	transition: opacity 0.3s;
}

.socialIcon:hover {
	opacity: 0.8;
}

.phone {
	grid-area: phone;
	justify-self: end;
}

.phoneLink {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	transition: opacity 0.3s;
}

.phoneLink:hover {
	opacity: 0.8;
}

.phoneText {
	font-size: 1rem;
	transition: color 0.3s;
}

.phoneText:hover {
	color: var(--color-bg-dark);
}

.nav {
	grid-area: nav;
}

.navList {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	font-size: 0.75rem;
}

.navItem {
	transition: color 0.3s;
	cursor: pointer;
}

.navItem:hover {
	color: var(--color-bg-dark);
}

.design {
	grid-area: design;
}

.designLink {
	transition: opacity 0.3s;
}

.designLink {
	display: none;
}

.designLink:hover {
	opacity: 0.8;
}

@media (min-width: 768px) {
	.designLink {
		display: block;
	}

	.footer {
		margin-top: 3.75rem;
	}

	.footerContent {
		grid-template-areas:
			"logo nav social phone"
			"logo nav social design";
		grid-template-columns: auto 1fr auto auto;
		gap: 0 2.5rem;
		padding: 2.5rem;
		padding-inline: 0.5rem;
	}

	.logoLink {
		width: 4rem;
		height: 2.75rem;
	}

	.social {
		flex-direction: column;
	}

	.socialLinks {
		/* flex-direction: column; */
		gap: 0.75rem;
	}

	.navList {
		gap: 2rem;
	}
}

@media (min-width: 1280px) {
	.footer {
		margin-top: 5rem;
	}

	.footerContent {
		padding: 2.5rem;
	}

	.social {
		flex-direction: row;
	}

	.socialLinks {
		flex-direction: row;
		gap: 1.25rem;
	}

	.navList {
		gap: 0.5rem 2.5rem;
	}
}
