.container {
	width: 260px;
	margin: 0 auto;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
}

.title {
	font-size: 1.5rem;
	font-weight: bold;
	color: #414141;
	text-align: center;
	margin-bottom: 2rem;
}

.formRow {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 1rem 2rem;
	position: relative;
}

.formGroup {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: flex-start;
	width: 100%;
}

.button {
	width: 260px;
	height: 68px;
	margin: 2rem auto;
	font-size: 1.5rem;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.2s;
	border: none;
}

.buttonActive {
	background-color: #ff6633;
	color: white;
	border: none;
}

.buttonActive:hover {
	box-shadow: var(--shadow-article);
}

.buttonActive:active {
	box-shadow: var(--shadow-button-active);
}

.buttonInactive {
	background-color: #fcd5ba;
	color: #ff6633;
}

.buttonMargin {
	margin: 2rem 0;
}

.navButtons {
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	font-size: 0.75rem;
}

.backButton {
	height: 2rem;
	color: #414141;
	width: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	transition-duration: 300ms;
	cursor: pointer;
	border: none;
	background: none;
}

.backButton:hover {
	color: black;
}

.forgotLink {
	height: 2rem;
	color: #414141;
	width: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition-duration: 300ms;
	cursor: pointer;
	border: none;
	background: none;
}

.forgotLink:hover {
	color: black;
}
