.container {
	display: block;
}

.label {
	display: block;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
}

.required {
	color: #d80000;
}

.error {
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: #ef4444;
}

.select {
	width: 100%;
	height: 8rem;
	padding: 0.5rem 1rem;
	color: var(--color-main-text);
	font-size: 1rem;
	line-height: 1.5rem;
	border: 1px solid #bfbfbf;
	border-radius: 0.25rem;
	background-color: white;
}

.select:focus {
	border-color: var(--color-primary);
	box-shadow:
		0 4px 6px -1px rgb(0 0 0 / 0.1),
		0 2px 4px -2px rgb(0 0 0 / 0.1);
	background-color: white;
	outline: none;
	caret-color: var(--color-primary);
}

.hint {
	margin-top: 0.5rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: #4b5563;
}

.selectedInfo {
	margin-top: 0.75rem;
}

.selectedCount {
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 500;
}

.selectedNumber {
	font-size: 0.875rem;
	line-height: 1.25rem;
	color: #4b5563;
}
