.label {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	cursor: pointer;
}

.checkboxContainer {
	position: relative;
}

.hiddenCheckbox {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.customCheckbox {
	position: relative;
	width: 1.25rem;
	height: 1.25rem;
	border: 1px solid var(--color-border-input);
	border-radius: 0.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition-duration: 300ms;
	background-color: var(--color-bg-white);
}

.customCheckboxChecked {
	background-color: var(--color-primary);
	border-color: var(--color-primary);
}

.checkmark {
	width: 0.75rem;
	height: 0.75rem;
	color: var(--color-bg-white);
}

.labelText {
	font-size: 0.875rem;
	line-height: 1.25rem;
}
