.container {
	display: block;
}

.label {
	display: block;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
}

.required {
	color: #d80000;
}

.input {
	width: 13rem;
	height: 2.5rem;
	padding: 0.5rem 1rem;
	color: var(--color-main-text);
	font-size: 1rem;
	line-height: 1.5rem;
	border: 1px solid #bfbfbf;
	border-radius: 0.25rem;
	background-color: white;
}

.input:focus {
	border-color: var(--color-primary);
	box-shadow:
		0 4px 6px -1px rgb(0 0 0 / 0.1),
		0 2px 4px -2px rgb(0 0 0 / 0.1);
	background-color: white;
	outline: none;
	caret-color: var(--color-primary);
}

.formLabel {
	font-size: 1rem;
	line-height: 1.5rem;
	color: #8f8f8f;
	display: block;
}

.formInput {
	width: 16.25rem;
	height: 2.5rem;
	padding: 0.5rem 1rem;
	color: var(--color-main-text);
	font-size: 1rem;
	line-height: 1.5rem;
	border: 1px solid #bfbfbf;
	border-radius: 0.25rem;
}

.formInput:focus {
	border-color: var(--color-primary);
	box-shadow:
		0 4px 6px -1px rgb(0 0 0 / 0.1),
		0 2px 4px -2px rgb(0 0 0 / 0.1);
	background-color: white;
	outline: none;
	caret-color: var(--color-primary);
}

.loginLink {
	margin: 2.5rem auto;
	height: 2rem;
	color: var(--color-primary);
	border: 1px solid var(--color-primary);
	background-color: white;
	width: 7.5rem;
	border-radius: 0.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition-duration: 300ms;
}

.loginLink:hover {
	color: white;
	background-color: var(--color-primary);
}

.loginLink:active {
	box-shadow:
		0 4px 6px -1px rgb(0 0 0 / 0.1),
		0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.radioLabel {
	padding: 0.5rem 1rem;
	border: 1px solid #d1d5db;
	border-radius: 0.5rem;
	cursor: pointer;
	transition-property:
		color, background-color, border-color, text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}

.radioLabelActive {
	background-color: #3b82f6;
	color: white;
	border-color: #3b82f6;
}
