.container {
	display: block;
}

.label {
	display: block;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
}

.required {
	color: var(--color-error);
}

.input {
	width: 100%;
	height: 2.5rem;
	padding: 0.5rem 1rem;
	color: var(--color-main-text);
	font-size: 1rem;
	line-height: 1.5rem;
	border: 1px solid var(--color-border-input);
	border-radius: 0.25rem;
	background-color: var(--color-bg-white);
}

.input:focus {
	border-color: var(--color-primary);
	box-shadow:
		0 4px 6px -1px rgb(0 0 0 / 0.1),
		0 2px 4px -2px rgb(0 0 0 / 0.1);
	background-color: var(--color-bg-white);
	outline: none;
	caret-color: var(--color-primary);
}
