.container {
	margin-bottom: 2rem;
}

.title {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 700;
	color: var(--color-bg-dark);
}

.description {
	color: var(--color-text-secondary);
	margin-top: 0.5rem;
}

@media (min-width: 768px) {
	.title {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}
}
