.container {
	background-color: var(--color-bg-white);
	border-radius: 0.75rem;
	box-shadow: var(--shadow-default);
	border: 1px solid var(--color-border-light);
	padding: 1.5rem;
}

.title {
	font-size: 1.25rem;
	line-height: 1.75rem;
	font-weight: 600;
	color: var(--color-bg-dark);
	margin-bottom: 1.5rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

@media (min-width: 768px) {
	.grid {
		grid-template-columns: repeat(4, 1fr);
	}
}
