.container {
	padding-left: max(12px, calc((100% - 1208px) / 2));
	padding-right: max(12px, calc((100% - 1208px) / 2));
	color: var(--color-main-text);
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 768px) {
	.container {
		padding-left: max(16px, calc((100% - 1208px) / 2));
		padding-right: max(16px, calc((100% - 1208px) / 2));
	}
}

@media (min-width: 1280px) {
	.container {
		margin-left: 0;
		margin-right: 0;
	}
}

.emptyContainer {
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.emptyTitle {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 2rem;
}

.emptyMessage {
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.emptyText {
	color: var(--color-text-secondary);
	font-size: 1.125rem;
}

.contentWrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

@media (min-width: 768px) {
	.contentWrapper {
		flex-direction: row;
		gap: 2rem;
	}
}

@media (min-width: 1280px) {
	.contentWrapper {
		column-gap: 3.75rem;
	}

	.emptyContainer {
		min-height: 35rem;
		padding: 0rem;
	}

	.emptyTitle {
		font-size: 4rem;
		min-width: 76rem;
		margin-bottom: 0rem;
		min-height: 15rem;
	}
}

.mainContent {
	flex: 1;
}

.disabledContent {
	pointer-events: none;
	opacity: 0.5;
}

.itemsColumn {
	display: flex;
	flex-direction: column;
	row-gap: 1.5rem;
}
