.closeButton {
	background-color: #f3f2f1;
	border-radius: 0.25rem;
	transition-duration: 300ms;
	cursor: pointer;
	margin-bottom: 2rem;
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background: none;
}

.closeButton:hover {
	background-color: #e5e5e5;
}
