.timerText {
	color: var(--color-main-text);
	font-size: 0.75rem;
	text-align: center;
}

.timerBold {
	font-weight: bold;
}

.resendButton {
	font-size: 0.75rem;
	text-decoration: underline;
	cursor: pointer;
	text-align: center;
	color: var(--color-accent);
	border: none;
}

.resendButton:disabled {
	color: var(--color-text-muted);
	cursor: not-allowed;
}
