.label {
	font-size: 1rem;
	color: #8f8f8f;
	display: block;
}

.input {
	width: 16.25rem;
	height: 2.5rem;
	padding: 0.5rem 1rem;
	color: var(--color-main-text);
	font-size: 1rem;
	border: 1px solid #bfbfbf;
	border-radius: 0.25rem;
	caret-color: var(--color-primary);
}

.input:focus {
	border-color: var(--color-primary);
	box-shadow: var(--shadow-button-default);
	background-color: #ffffff;
	outline: none;
}
