.tooltipContainer {
	position: absolute;
	left: 0;
	margin-top: 0.5rem;
	width: 100%;
	transition: all 0.3s ease-in-out;
}

.tooltipContainerTop {
	composes: tooltipContainer;
	top: -3rem;
}

.tooltip {
	position: relative;
	background-color: var(--color-error);
	color: var(--color-bg-white);
	font-size: 0.875rem;
	padding: 0.5rem;
	border-radius: 4px;
	max-width: 260px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	z-index: 50;
	opacity: 0;
	animation: fadeIn 0.3s ease-in-out forwards;
}

.tooltipBottom {
	composes: tooltip;
	margin-bottom: 0.5rem;
}

.tooltipTop {
	composes: tooltip;
	margin-top: 0.25rem;
}

.icon {
	flex-shrink: 0;
}

.iconBottom {
	composes: icon;
	margin-right: 1rem;
}

.iconTop {
	composes: icon;
	margin-left: 1rem;
	margin-right: 1rem;
}

.triangleBottom {
	position: absolute;
	left: 50%;
	top: -3px;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 4px solid var(--color-error);
}

.triangleTop {
	position: absolute;
	left: 50%;
	bottom: -3px;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 4px solid var(--color-error);
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-5px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
