.container {
	position: absolute;
	left: 0;
	margin-top: 0.5rem;
	width: 100%;
	transition: all 0.3s ease-in-out;
}

.containerTop {
	top: -3.25rem;
}

.containerTopCard {
	top: -7.5rem;
}

.containerBottom {
	top: auto;
	margin-bottom: 0.5rem;
}

.tooltip {
	position: relative;
	background-color: var(--color-error);
	color: var(--color-bg-white);
	font-size: 0.875rem;
	padding: 0.5rem;
	border-radius: 0.25rem;
	max-width: 16.25rem;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	z-index: 50;
	opacity: 0;
	animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.icon {
	margin-right: 1rem;
}

.iconTop {
	margin-left: 1rem;
	margin-right: 1rem;
}

.arrowTop {
	position: absolute;
	left: 50%;
	bottom: -0.1875rem;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 0.375rem solid transparent;
	border-right: 0.375rem solid transparent;
	border-top: 0.25rem solid var(--color-error);
}

.arrowBottom {
	position: absolute;
	left: 50%;
	top: -0.1875rem;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-left: 0.375rem solid transparent;
	border-right: 0.375rem solid transparent;
	border-bottom: 0.25rem solid var(--color-error);
}
