.container {
	width: 260px;
	margin: 0 auto;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow-y: auto;
	gap: 2rem;
}

.title {
	font-size: 1.5rem;
	font-weight: bold;
	color: --color-main-text;
	text-align: center;
	margin-bottom: 2rem;
}

.formRow {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 1rem 2rem;
	position: relative;
}

.formGroup {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: flex-start;
	width: 100%;
}

.label {
	font-size: 1rem;
	color: #8f8f8f;
	display: block;
}

.input {
	width: 260px;
	height: 2.5rem;
	padding: 0.5rem 1rem;
	color: --color-main-text;
	font-size: 1rem;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	caret-color: var(--color-primary);
}

.input:focus {
	border-color: #70c05b;
	box-shadow: var(--shadow-button-default);
	background-color: white;
	outline: none;
}

.authToggle {
	display: flex;
	gap: 0.5rem;
	font-size: 0.875rem;
	margin: 0 auto;
}

.toggleButton {
	padding: 0.25rem 0.5rem;
	border-radius: 4px;
	cursor: pointer;
	border: none;
}

.toggleButtonActive {
	background-color: #ff6633;
	color: white;
}

.toggleButtonInactive {
	background-color: #f3f4f6;
}

.button {
	width: 260px;
	height: 68px;
	margin: 0 auto;
	font-size: 1.5rem;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.2s;
	border: none;
}

.buttonActive {
	background-color: #ff6633;
	color: white;
}

.buttonActive:hover {
	box-shadow: var(--shadow-article);
}

.buttonActive:active {
	box-shadow: var(--shadow-button-active);
}

.buttonInactive {
	background-color: #fcd5ba;
	color: #ff6633;
	cursor: not-allowed;
}

.navLinks {
	display: flex;
	flex-flow: row wrap;
	margin: 0 auto;
	font-size: 0.75rem;
	gap: 1rem;
	justify-content: center;
}

.registerLink {
	margin: 0 auto;
	height: 2rem;
	color: var(--color-primary);
	background-color: white;
	border: 1px solid var(--color-primary);
	border-radius: 4px;
	width: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition-duration: 300ms;
	padding: 0 0.5rem;
	background: none;
}

.registerLink:hover {
	color: white;
	background-color: var(--color-primary);
}

.registerLink:active {
	box-shadow: var(--shadow-button-default);
}

.forgotLink {
	height: 2rem;
	color: --color-main-text;
	width: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition-duration: 300ms;
	border: none;
	background: none;
}

.forgotLink:hover {
	color: black;
}

.errorIcon {
	height: 2rem;
	width: 2rem;
	color: #dc2626;
}
