.link {
	display: flex;
	flex-direction: row;
	gap: 0.75rem;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
}

.logoContainer {
	position: relative;
	width: 2.5rem;
	height: 2rem;
}

@media (min-width: 768px) {
	.logoContainer {
		width: 3rem;
		height: 2.5rem;
	}
}

@media (min-width: 1280px) {
	.logoContainer {
		width: 2.5rem;
		height: 2rem;
	}
}

.textContainer {
	position: relative;
	display: none;
	width: 6.25rem;
	height: 0.75rem;
}

@media (min-width: 1024px) {
	.textContainer {
		display: block;
	}
}
