.adminPanelContainer {
	padding-left: max(12px, calc((100% - 1208px) / 2));
	padding-right: max(12px, calc((100% - 1208px) / 2));
}

.title {
	font-size: 1.5rem;
	color: var(--color-main-text, #414141);
	font-weight: bold;
	margin-bottom: 1.5rem;
}

.grid {
	display: grid;
	gap: 1rem;
}

.adminLink {
	background-color: #ff6633;
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 0.375rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
	transition-duration: 300ms;
	width: 100%;
	text-decoration: none;
}

.adminLink:hover {
	box-shadow: var(--shadow-article);
}

.adminLink:active {
	box-shadow: var(--shadow-button-active);
}

@media (min-width: 768px) {
	.adminLink {
		width: 50%;
	}
}
