.adminPanelContainer {
	padding-left: max(12px, calc((100% - 1208px) / 2));
	padding-right: max(12px, calc((100% - 1208px) / 2));
}

.title {
	font-size: 1.5rem;
	color: var(--color-main-text);
	font-weight: bold;
	margin-bottom: 1.5rem;
}

.grid {
	display: grid;
	gap: 1rem;
}

.adminLink {
	background-color: var(--color-accent);
	color: var(--color-bg-white);
	padding: 0.5rem 1rem;
	border-radius: 0.375rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition-duration: 300ms;
	width: 100%;
	text-decoration: none;
}

.adminLink:hover {
	box-shadow: var(--shadow-article);
}

.adminLink:active {
	box-shadow: var(--shadow-button-active);
}

.adProductLink {
	background-color: var(--color-accent);
	color: var(--color-bg-white);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.25rem;
	cursor: pointer;
	transition-duration: 300ms;
	padding: 0.5rem 1rem;
	width: 100%;
}

.adProductLink:hover {
	box-shadow:
		0 10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.adProductLink:active {
	box-shadow:
		0 20px 25px -5px rgb(0 0 0 / 0.1),
		0 8px 10px -6px rgb(0 0 0 / 0.1);
}

@media (min-width: 768px) {
	.adminLink {
		width: 50%;
		justify-content: flex-start;
	}

	.adProductLink {
		width: 50%;
		justify-content: flex-start;
	}
}

@media (min-width: 1280px) {
	.adminPanelContainer {
		min-height: 35rem;
	}
	.title {
		font-size: 3rem;
	}
}
