.actionsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.actionsHeader {
	margin-bottom: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.actionsTitle {
	font-size: 1.5rem;
	text-align: left;
	font-weight: 700;
	color: var(--color-title);
}

.viewAllButton {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

.viewAllText {
	font-size: 1rem;
	text-align: center;
	color: #606060;
	transition-duration: 300ms;
}

.viewAllText:hover {
	color: #bfbfbf;
}

.productsGrid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	justify-items: center;
}

.hiddenItem {
	display: none;
}

@media (min-width: 768px) {
	.actionsHeader {
		margin-bottom: 2rem;
	}

	.productsGrid {
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
	}

	.mdHidden {
		display: none;
	}
}

@media (min-width: 1280px) {
	.actionsContainer {
		max-width: 1208px;
	}

	.actionsHeader {
		margin-bottom: 2.5rem;
	}

	.actionsTitle {
		font-size: 2.25rem;
	}

	.productsGrid {
		grid-template-columns: repeat(4, 1fr);
		gap: 2.5rem;
	}

	.xlBlock {
		display: block;
	}

	.xlHidden {
		display: none;
	}
}
