.hero {
	position: relative;
	height: 5rem;
	width: 100%;
	margin-bottom: 2.5rem;
	background-image: url("/images/graphics/pattern-slider.png");
	background-repeat: repeat;
	background-size: contain;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.heroOverlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.7);
}

.heroContent {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
	z-index: 1;
	position: relative;
}

.heroImage {
	position: relative;
	display: none;
	top: 1.75rem;
}

.heroTitle {
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 700;
	color: var(--color-main-text);
}

@media (min-width: 768px) {
	.hero {
		height: 10rem;
		margin-bottom: 3.75rem;
	}

	.heroImage {
		display: block;
		width: 15rem;
		height: 10rem;
		top: 1.15rem;
	}

	.heroTitle {
		font-size: 1.5rem;
		line-height: 2rem;
	}
}

@media (min-width: 1280px) {
	.hero {
		height: 12.5rem;
		margin-bottom: 5rem;
	}

	.heroContent {
		gap: 1rem;
	}

	.heroImage {
		width: 18.75rem;
		height: 12.5rem;
		top: 1.5rem;
	}

	.heroTitle {
		font-size: 3rem;
		line-height: 1;
	}
}
