.container {
	position: absolute;
	bottom: 0.5625rem;
	left: 0;
	right: 0;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding: 0.75rem;
	border-radius: 0.25rem;
	font-size: 0.75rem;
	line-height: 1rem;
	text-align: left;
	z-index: 10;
	box-shadow:
		0 10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.containerSuccess {
	background-color: #e5ffde;
	color: #008c49;
	border: 1px solid #008c49;
}

.containerError {
	background-color: #fffbeb;
	color: #92400e;
	border: 1px solid #fde68a;
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 0.5rem;
}

.message {
	flex: 1;
	line-height: 1rem;
	padding-right: 0.5rem;
}

.closeButton {
	flex-shrink: 0;
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-main-text);
	font-size: 1rem;
	line-height: 1rem;
	font-weight: 700;
	border: none;
	background: none;
	cursor: pointer;
	transition-duration: 300ms;
}

.closeButton:hover {
	background-color: #e5e7eb;
}
