.searchContainer {
	display: flex;
	align-items: center;
	width: 100%;
}

.catalogMenu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: var(--color-bg-white);
	box-shadow: var(--shadow-catalog-menu);
	z-index: 50;
}

.catalogMenuContent {
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

.categoriesGrid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
}

.categoryLink {
	display: block;
	padding: 1rem 0.5rem;
	color: var(--color-main-text);
	font-weight: 700;
	transition-duration: 300ms;
}

.categoryLink:hover {
	color: var(--color-accent);
}

.noCategoriesText {
	padding: 0.5rem 0;
	text-align: center;
}

@media (min-width: 768px) {
	.catalogMenu {
		display: block;
	}
}

@media (min-width: 1280px) {
	.categoriesGrid {
		grid-template-columns: repeat(4, 1fr);
	}
}
