.container {
	background-color: var(--color-bg-white);
	padding: 0.75rem;
	border-radius: 0.25rem;
	border: 1px solid var(--color-bg-light);
	margin-bottom: 1rem;
}

@media (min-width: 768px) {
	.container {
		padding: 1rem;
		margin-bottom: 1.5rem;
	}
}

.title {
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 0.75rem;
	text-align: center;
}

@media (min-width: 768px) {
	.title {
		font-size: 1.125rem;
		margin-bottom: 1rem;
	}
}

.form {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	align-items: center;
}

@media (min-width: 768px) {
	.form {
		flex-direction: row;
		gap: 1rem;
		align-items: flex-end;
		justify-content: center;
	}
}

.inputGroup {
	width: 8.25rem;
}

.label {
	display: block;
	font-size: 0.875rem;
	font-weight: 500;
	color: var(--color-main-text);
	margin-bottom: 0.5rem;
}

.input {
	border: 1px solid var(--color-border-default);
	border-radius: 0.25rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	width: 100%;
	font-size: 0.875rem;
}

@media (min-width: 768px) {
	.input {
		font-size: 1rem;
	}
}

.button {
	background-color: var(--color-primary);
	color: var(--color-bg-white);
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
	border-radius: 0.25rem;
	white-space: nowrap;
	font-size: 0.875rem;
	cursor: pointer;
	transition-duration: 300ms;
	width: 100%;
	border: none;
}

.button:hover {
	box-shadow: var(--shadow-button-default);
}

.button:active {
	box-shadow: var(--shadow-button-active);
}

@media (min-width: 768px) {
	.button {
		padding-left: 1rem;
		padding-right: 1rem;
		font-size: 1rem;
		width: auto;
	}
}
