.container {
	padding: 0.75rem;
	margin-bottom: 1rem;
	border-radius: 0.25rem;
	border: 1px solid var(--color-border-light);
	background-color: var(--color-success-bg-light);
	color: #008c49;
}

@media (min-width: 768px) {
	.container {
		padding: 1rem;
	}
}
