.row {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	transition: background-color 0.2s;
}

.row:hover {
	background-color: #f9fafb;
}

.timeCell {
	padding: 0.5rem;
	border-right: 1px solid var(--color-border-light);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media (min-width: 768px) {
	.timeCell {
		padding: 0.75rem;
	}
}

.timeSlot {
	font-weight: 500;
	font-size: 0.875rem;
	margin-bottom: 0.25rem;
}

@media (min-width: 768px) {
	.timeSlot {
		font-size: 1rem;
		margin-bottom: 0.5rem;
	}
}

.removeButton {
	background-color: var(--color-accent);
	color: var(--color-bg-white);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.25rem;
	cursor: pointer;
	transition-duration: 300ms;
	padding: 0.25rem;
	font-size: 0.625rem;
	border: none;
}

.removeButton:hover {
	box-shadow: var(--shadow-article);
}

.removeButton:active {
	box-shadow: var(--shadow-button-active);
}

@media (min-width: 768px) {
	.removeButton {
		font-size: 0.875rem;
		padding: 0.25rem;
	}
}

.dateCell {
	padding: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid var(--color-border-light);
}

@media (min-width: 768px) {
	.dateCell {
		padding: 0.75rem;
	}
}

.lastDateCell {
	border-right: none;
}

.checkboxContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.25rem;
}

.checkboxLabel {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.checkboxInput {
	display: none;
}

.checkbox {
	width: 1.5rem;
	height: 1.5rem;
	border-width: 2px;
	border-radius: 0.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition-duration: 300ms;
	color: var(--color-bg-white);
}

.checkboxAvailable {
	background-color: var(--color-primary);
	border-color: var(--color-primary);
}

.checkboxUnavailable {
	background-color: var(--color-bg-white);
	border-color: #d1d5db;
}

.statusText {
	font-size: 0.75rem;
}

@media (min-width: 768px) {
	.statusText {
		font-size: 0.875rem;
	}
}

.statusAvailable {
	color: var(--color-primary);
}

.statusUnavailable {
	color: var(--color-error);
}
