.header {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	border-bottom: 1px solid var(--color-border-default);
}

.timeHeader {
	padding: 0.5rem;
	font-weight: 600;
	color: var(--color-main-text);
	border-right: 1px solid var(--color-bg-light);
	font-size: 0.75rem;
}

@media (min-width: 768px) {
	.timeHeader {
		padding: 0.75rem;
		font-size: 0.875rem;
	}
}

.dateHeader {
	padding: 0.5rem;
	font-weight: 600;
	color: #111827;
	text-align: center;
	border-right: 1px solid var(--color-border-light);
	font-size: 0.875rem;
}

@media (min-width: 768px) {
	.dateHeader {
		padding: 0.75rem;
	}
}

.lastDateHeader {
	border-right: none;
}

.dateTitle {
	font-weight: 500;
	font-size: 0.75rem;
	margin-bottom: 0.25rem;
}

@media (min-width: 768px) {
	.dateTitle {
		font-size: 0.875rem;
	}
}

.dateNumeric {
	font-size: 0.75rem;
	color: var(--color-text-secondary);
	margin-top: 0.25rem;
}

.dateFull {
	font-size: 0.75rem;
	color: var(--color-text-secondary);
}

@media (min-width: 640px) {
	.dateFull {
		display: block;
	}
}
